@model IEnumerable<N.G.HRS.Areas.PlanningAndJobDescription.Models.JobDescription>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "الوصف الوظيفي";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>الوصف الوظيفي</h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.JopName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobQualifications)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Authorities)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Responsibilities)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FunctionalCategories)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FunctionalClass)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobRanks)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JopName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobQualifications)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Authorities)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Responsibilities)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FunctionalCategories.CategoriesName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FunctionalClass.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobRanks.RankName)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>