@model IEnumerable<N.G.HRS.Areas.AalariesAndWages.Models.BasicDataForWagesAndSalaries>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfMonthsDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsencePerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelayPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneFingerPrintPerHourDelay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfMonthsDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsencePerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelayPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneFingerPrintPerHourDelay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
