@model IEnumerable<N.G.HRS.Areas.AalariesAndWages.Models.BasicDataForWagesAndSalaries>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "البيانات الأساسيةللأجوروالأجور والرواتب";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>   BasicDataForWagesAndSalaries </h3>
                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumberOfMonthsDays)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AbsencePerHour)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DelayPerHour)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OneFingerPrintPerHourDelay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ToDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TypeOfWage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberOfMonthsDays)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AbsencePerHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DelayPerHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OneFingerPrintPerHourDelay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeOfWage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>