@model IEnumerable<N.G.HRS.Areas.AttendanceAndDeparture.Models.LinkingEmployeesToShiftPeriods>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ربط الموظف بفترات المناوبة";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>ربط الموظف بفترات المناوبة</h3>
                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">

                    <table id="dataTableExample" class="table">

                        <thead>

                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfStartWork)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfEndWork)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Departments)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sections)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PermanenceModels)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Periods)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfStartWork)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfEndWork)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Departments.SubAdministration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sections.SectionsName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PermanenceModels.PermanenceName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Periods.Id)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>