@model N.G.HRS.Areas.PayRoll.Models.EndOfServiceClearance

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EndOfServiceClearance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfServiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfServiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForClearance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForClearance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastApprovedSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastApprovedSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicePeriodPerYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicePeriodPerYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfServiceBenefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfServiceBenefits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvancesAndLoans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvancesAndLoans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationEntitlements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationEntitlements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Absence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Absence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherEntitlements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherEntitlements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDiscounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDiscounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
