@model N.G.HRS.Areas.MaintenanceControl.Models.StaffVacations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffVacations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacation.HolidayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sections.SectionsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConnected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConnected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstituteStaffMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstituteStaffMember.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorSide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorSide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
