@model IEnumerable<N.G.HRS.Areas.MaintenanceControl.Models.StaffVacations>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "أجازات الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3> أجازات الموظفين</h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vacation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sections)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Period)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsConnected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ToDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PerDay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PerHour)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PerMinute)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accepted)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubstituteStaffMember)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DonorSide)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Reason)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vacation.HolidayName ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sections.SectionsName ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodsId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsConnected)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerDay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerMinute)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Accepted)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubstituteStaffMember.EmployeeName ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonorSide ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reason ?? "")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note ?? "")
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}