@model N.G.HRS.Areas.OrganizationalChart.Models.Branches

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Branches</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchesAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchesAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchesPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchesPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchesEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchesEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Governorate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Governorate.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Directorate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Directorate.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
