

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../../../dashboard.html"> الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة الهيكل التنظيمي
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            مجلس الادارة
        </li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="FaqAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button alert alert-fill-warning " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i data-feather="move" class="icon-sm handle me-2"></i>   بيانات الموظف
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse  show " aria-labelledby="headingOne" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">

                                <h6 class="card-title headerStyle">بيانات الموظفين</h6>

                                <hr style="color: black;">
                                <br>
                                <form asp-action="AddEmployee" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>
                                        <input asp-for="Employee.Id" type="hidden" class="form-control" placeholder="Enter first name" />

                                        <div class="col-md-5 col-12 mb-3">
                                            <label asp-for="Employee.EmployeeName" class="form-label">اسم الموظف</label>
                                            <input asp-for="Employee.EmployeeName" type="text" class="form-control" placeholder="Enter first name" />
                                            <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-5 col-12 mb-3">
                                            <label asp-for="Employee.EmployeeNumber" class="form-label">الرقم الوظيفي</label>
                                            <input asp-for="Employee.EmployeeNumber" id="EmployeeNumber" type="text" class="form-control" placeholder="الرقم الوظيفي " />


                                            <span asp-validation-for="Employee.EmployeeNumber" class="text-danger"></span>

                                        </div>
                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.JobDescriptionId" class="form-label">الوظيفة</label>
                                            <select asp-for="Employee.JobDescriptionId" asp-items="@(ViewData["JobDescription"] as SelectList)" class="js-example-basic-single  form-select">
                                                <option value="">  </option>
                                            </select>
                                            <span asp-validation-for="Employee.JobDescriptionId" class="text-danger"></span>
                                        </div>


                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.DepartmentsId" class="form-label">الادارة</label>
                                            <select asp-for="Employee.DepartmentsId" asp-items="@(ViewData["Departments"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">  </option>
                                            </select>
                                            <span asp-validation-for="Employee.DepartmentsId" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.SectionsId" class="form-label">القسم</label>
                                            <select asp-for="Employee.SectionsId" asp-items="@(ViewData["Sections"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value=""> </option>
                                            </select>
                                            <span asp-validation-for="Employee.SectionsId" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-3 col-12 mb-3">
                                            <label asp-for="Employee.ManagerId" class="form-label">المشرف المباشر</label>
                                            <select asp-for="Employee.ManagerId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value=""> </option>
                                            </select>
                                            <span asp-validation-for="Employee.ManagerId" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-3 col-12 mb-3 ">
                                            <label asp-for="Employee.EmploymentStatus" class="form-label"> الحالة الوظيفية</label>
                                            <select asp-for="Employee.EmploymentStatus" id="EmploymentStatus" asp-items="@(ViewData["Employee"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">   </option>


                                            </select>
                                            <span asp-validation-for="Employee.EmploymentStatus" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-3 col-12 mb-3">
                                            <label asp-for="Employee.DateOfEmployment" class="form-label">تاريخ التوضيف</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">

                                                <input asp-for="Employee.DateOfEmployment" id="DateOfEmployment"  class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Employee.DateOfEmployment" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-3 col-12 mb-3">
                                            <label asp-for="Employee.PlacementDate" class="form-label">تاريخ التثبيت</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="Employee.PlacementDate" id="PlacementDate"  class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Employee.PlacementDate" class="text-danger"></span>

                                        </div>

                                        <div class="col-md-6 col-12 mb-3">
                                            <div class="form-check mb-3">
                                                <input asp-for="Employee.UsedFingerprint" type="checkbox" class="form-check-input" id="exampleCheck1" />
                                                <label asp-for="Employee.UsedFingerprint" class="form-check-label" for="exampleCheck1">
                                                    يستخدم جهاز البصمة
                                                </label>
                                            </div>
                                            <span asp-validation-for="Employee.UsedFingerprint" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-6 col-12 mb-3">
                                            <div class="form-check mb-3">
                                                <input asp-for="Employee.SubjectToInsurance" type="checkbox" class="form-check-input" id="exampleCheck1" />
                                                <label asp-for="Employee.SubjectToInsurance" class="form-check-label" for="exampleCheck1">
                                                    خاضع للتأمين
                                                </label>
                                            </div>
                                            <span asp-validation-for="Employee.SubjectToInsurance" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.DateInsurance" class="form-label">تاريخ التأمين</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="Employee.DateInsurance" id="" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Employee.DateInsurance" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.DateOfStoppingWork" class="form-label">تاريخ إيقاف التوظيف</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="Employee.DateOfStoppingWork" id="" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Employee.DateOfStoppingWork" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="Employee.RehireDate" class="form-label">تاريخ إعادة التوظيف</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="Employee.RehireDate" id="" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="Employee.RehireDate" class="text-danger"></span>

                                        </div>
                                        <div class=" col-12 mb-3">
                                            <label asp-for="Employee.Notes" class="form-label">الملاحظة</label>

                                            <textarea asp-for="Employee.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                            <span asp-validation-for="Employee.Notes" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-12 stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6 class="card-title">صورة الموظف</h6>

                                                    <input asp-for="Employee.FileUpload" type="file" id="myDropify" />
                                                    <span asp-validation-for="Employee.FileUpload" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    @* ======================= *@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i data-feather="move" class="icon-sm handle me-2"></i>   اضافة ضمين
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle"> بيانات الضمين</h6>
                                <hr style="color: black;">
                                <form asp-action="AddGuarantees">
                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-7">
                                            <div class="mb-3">
                                                <input asp-for="Guarantees.Id" type="hidden" class="form-control" placeholder="Enter last name" />
                                                <label asp-for="Guarantees.Name" class="form-label">اسم الضمين</label>
                                                <input asp-for="Guarantees.Name" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.Name" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.PhoneNumber" class="form-label"> الموبايل</label>
                                                <input asp-for="Guarantees.PhoneNumber" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.PhoneNumber" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-7">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.NameOfTheBusiness" class="form-label">اسم المحل التجاري</label>
                                                <input asp-for="Guarantees.NameOfTheBusiness" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.NameOfTheBusiness" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.CommercialRegistrationNo" class="form-label">رقم السجل</label>
                                                <input asp-for="Guarantees.CommercialRegistrationNo" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.CommercialRegistrationNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.ShopAddress" class="form-label"> عنوان المحل التجاري</label>
                                                <input asp-for="Guarantees.ShopAddress" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.ShopAddress" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.HomeAdress" class="form-label"> عنوان السكن الدائم</label>
                                                <input asp-for="Guarantees.HomeAdress" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.HomeAdress" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.MaritalStatusId" class="form-label">الحالة الإجتماعية</label>
                                                <select asp-for="Guarantees.MaritalStatusId" asp-items="@(ViewData["MaritalStatus"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="Guarantees.MaritalStatusId" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="Guarantees.NumberOfDependents" class="form-label">عدد من يعول</label>
                                                <input asp-for="Guarantees.NumberOfDependents" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="Guarantees.NumberOfDependents" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class=" col-12 mb-3">
                                            <label asp-for="Guarantees.Notes" class="form-label">الملاحظة</label>

                                            <textarea asp-for="Guarantees.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                            <span asp-validation-for="Guarantees.Notes" class="text-danger"></span>

                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <br />
                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i data-feather="move" class="icon-sm handle me-2"></i>  البيانات الشخصية
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle">البيانات الشخصية</h6>

                                <hr style="color: black;">
                                <form asp-action="AddPersonalDataToEmployee">


                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-4">
                                            <div class="mb-3">

                                                <label asp-for="PersonalData.EmployeeId" class="form-label"> الموظف</label>
                                                <select asp-for="PersonalData.EmployeeId" asp-items="@(ViewData["ManagerOne"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.EmployeeId" class="text-danger"></span>


                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.DateOfBirth" class="form-label">تاريخ الميلاد:</label>
                                                <div class="input-group flatpickr" id="flatpickr-date">
                                                    <input asp-for="PersonalData.DateOfBirth" id="birthdate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                    <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                </div>
                                                <span asp-validation-for="PersonalData.DateOfBirth" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.Age" class="form-label">العمر</label>
                                                <input asp-for="PersonalData.Age" id="age" readonly class="form-control" placeholder="Enter Age" />
                                                <span asp-validation-for="PersonalData.Age" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.SexId" class="form-label">النوع</label>
                                                <select asp-for="PersonalData.SexId" asp-items="@(ViewData["Sex"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.SexId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.NationalityId" class="form-label">الجنسية</label>
                                                <select asp-for="PersonalData.NationalityId" asp-items="@(ViewData["Nationality"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.NationalityId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.ReligionId" class="form-label">الديانة</label>
                                                <select asp-for="PersonalData.ReligionId" asp-items="@(ViewData["Religion"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.ReligionId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Col -->
                                        <div class="col-sm-3">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.MaritalStatusId" class="form-label">الحالة الإجتماعية</label>
                                                <select asp-for="PersonalData.MaritalStatusId" asp-items="@(ViewData["MaritalStatus"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.MaritalStatusId" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <!-- Col -->
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mb-3">

                                                <label asp-for="PersonalData.GuaranteesId" class="form-label">الضمين</label>
                                                <select asp-for="PersonalData.GuaranteesId" asp-items="@(ViewData["GuaranteesOne"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value="">...</option>

                                                </select>
                                                <span asp-validation-for="PersonalData.GuaranteesId" class="text-danger"></span>



                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.HomePhone" class="form-label">هاتف المنزل</label>
                                                <input asp-for="PersonalData.HomePhone" type="text" class="form-control" placeholder="Enter PhoneNumber" />
                                                <span asp-validation-for="PersonalData.HomePhone" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.PhoneNumber" class="form-label">الموبايل</label>
                                                <input asp-for="PersonalData.PhoneNumber" type="text" class="form-control" placeholder="Enter PhoneNumber" />
                                                <span asp-validation-for="PersonalData.PhoneNumber" class="text-danger"></span>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <!-- Col -->
                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.Email" class="form-label">الايميل</label>
                                                <input asp-for="PersonalData.Email" type="email" class="form-control" placeholder="Enter Email" />
                                                <span asp-validation-for="PersonalData.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.Address" class="form-label">العنوان</label>
                                                <input asp-for="PersonalData.Address" type="text" class="form-control" placeholder="Enter Address" />
                                                <span asp-validation-for="PersonalData.Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <h6 class="card-title"> بيانات البطاقة</h6>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="mb-3">
                                                            <label asp-for="PersonalData.CardType" class="form-label"> نوع البطاقة</label>
                                                            <select asp-for="PersonalData.CardType" class="js-example-basic-single form-select">
                                                                <option> شخصية</option>
                                                                <option> جواز سفر</option>
                                                            </select>
                                                            <span asp-validation-for="PersonalData.CardType" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="mb-3">
                                                            <label asp-for="PersonalData.CardNumber" class="form-label">رقم البطاقة</label>
                                                            <input asp-for="PersonalData.CardNumber" type="text" class="form-control" placeholder="Enter last name" />
                                                            <span asp-validation-for="PersonalData.CardNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="mb-3">
                                                            <label asp-for="PersonalData.ToRelease" class="form-label">صادرة من</label>
                                                            <input asp-for="PersonalData.ToRelease" type="text" class="form-control" placeholder="Enter last name" />
                                                            <span asp-validation-for="PersonalData.ToRelease" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="mb-3">
                                                            <label asp-for="PersonalData.ReleaseDate" class="form-label">تاريخ الاصدار:</label>
                                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                                <input asp-for="PersonalData.ReleaseDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                            </div>
                                                            <span asp-validation-for="PersonalData.ReleaseDate" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="mb-3">
                                                            <label asp-for="PersonalData.CardExpiryDate" class="form-label">تاريخ الانتهاء:</label>
                                                            <div class="input-group flatpickr" id="flatpickr-date">
                                                                <input asp-for="PersonalData.CardExpiryDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                            </div>
                                                            <span asp-validation-for="PersonalData.CardExpiryDate" class="text-danger"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label asp-for="PersonalData.Notes" class="form-label">الملاحظات</label>
                                                <textarea asp-for="PersonalData.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                                <span asp-validation-for="PersonalData.Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Col -->
                                    </div>
                                    <!-- Row -->
                                    <br />



                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i data-feather="move" class="icon-sm handle me-2"></i>  اضافة الخبرات
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle">بيانات الخبرات</h6>

                                <hr style="color: black;">
                                <form asp-action="AddPracticalExperiencesToEmployee" method="post">
                                    <div class="row">

                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>
                                        <div class=" col-10 mb-3">
                                            <label asp-for="PracticalExperiences.EmployeeId" class="form-label"> الموظف</label>
                                            <select asp-for="PracticalExperiences.EmployeeId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">...</option>

                                            </select>
                                            <span asp-validation-for="PracticalExperiences.EmployeeId" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="PracticalExperiences.ExperiencesName" class="form-label">اسم الخبرة</label>
                                            <input asp-for="PracticalExperiences.ExperiencesName" type="text" class="form-control" placeholder="Enter  ExperiencesName" />
                                            <span asp-validation-for="PracticalExperiences.ExperiencesName" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="PracticalExperiences.PlacToGainExperience" class="form-label">مكان الحصول على الخبرة:</label>
                                            <input asp-for="PracticalExperiences.PlacToGainExperience" type="text" class="form-control" placeholder="الرقم الوظيفي " />
                                            <span asp-validation-for="PracticalExperiences.PlacToGainExperience" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="PracticalExperiences.FromDate" class="form-label">من تاريخ:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">

                                                <input asp-for="PracticalExperiences.FromDate" id="fromDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="PracticalExperiences.FromDate" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="PracticalExperiences.ToDate" class="form-label">الى تاريخ:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">

                                                <input asp-for="PracticalExperiences.ToDate" id="toDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="PracticalExperiences.ToDate" class="text-danger"></span>

                                        </div>

                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="PracticalExperiences.Duration" class="form-label">الفترة :</label>
                                            <div class="input-group ">

                                                <input asp-for="PracticalExperiences.Duration" id="duration" readonly class="form-control" placeholder="duration date">
                                                <span class="input-group-text input-group-addon">
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>

                                        </div>

                                    </div>


                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i data-feather="move" class="icon-sm handle me-2"></i> اضافة اسرة
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle">بيانات الأسرة</h6>

                                <hr style="color: black;">
                                <form asp-action="AddFamilyToEmployee" method="post">
                                    <div class="row">

                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>
                                        <div class=" col-10 mb-3">
                                            <label asp-for="Family.EmployeeId" class="form-label"> الموظف</label>
                                            <select asp-for="Family.EmployeeId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">...</option>

                                            </select>
                                            <span asp-validation-for="Family.EmployeeId" class="text-danger"></span>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="Family.Name" class="form-label">الاسم:</label>
                                            <input asp-for="Family.Name" type="text" class="form-control" placeholder="الاسم  " />
                                            <span asp-validation-for="Family.Name" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="Family.RelativesTypeId" class="form-label"> صلة القرابة</label>
                                            <select asp-for="Family.RelativesTypeId" asp-items="@(ViewData["RelativesType"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">...</option>

                                            </select>
                                            <span asp-validation-for="Family.RelativesTypeId" class="text-danger"></span>
                                        </div>
                                        <div class=" col-12 mb-3">
                                            <label asp-for="Family.Notes" class="form-label">الملاحظة</label>

                                            <textarea asp-for="Family.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                            <span asp-validation-for="Family.Notes" class="text-danger"></span>

                                        </div>

                                    </div>


                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <i data-feather="move" class="icon-sm handle me-2"></i>  اضافةالبيانات المالية
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle"> البيانات المالية </h6>

                                <hr style="color: black;">

                                <form asp-action="AddFinancialStatements" method="post">
                                    
                                        <div class="row">
                                            <!-- Col -->
                                        <div class="col-sm-5">
                                            <div class="mb-3">
                                                <label asp-for="FinancialStatements.EmployeeId" class="form-label"> الموظف</label>
                                                <select asp-for="FinancialStatements.EmployeeId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value=""> .....</option>

                                                </select>
                                                <span asp-validation-for="FinancialStatements.EmployeeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                <label asp-for="FinancialStatements.BasicSalary" class="form-label">الراتب الاساسي</label>
                                                <input asp-for="FinancialStatements.BasicSalary" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="FinancialStatements.BasicSalary" class="text-danger"></span>
                                            </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="mb-3">
                                                    <label asp-for="FinancialStatements.CurrencyId" class="form-label">العملة</label>
                                                <select asp-for="FinancialStatements.CurrencyId" asp-items="@(ViewData["Currency"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value=""> .....</option>

                                                </select>                                          
                                                <span asp-validation-for="FinancialStatements.CurrencyId" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <!-- Col -->
                                        </div>
                                        <div class="row">
                                            <!-- Col -->
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                <label asp-for="FinancialStatements.InsuranceAccountNumber" class="form-label">رقم حساب التأمين</label>
                                                    <input asp-for="FinancialStatements.InsuranceAccountNumber" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="FinancialStatements.InsuranceAccountNumber" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="mb-3">
                                                    <label asp-for="FinancialStatements.BankAccountNumber"  class="form-label">رقم الحساب البنكي</label>
                                                <input asp-for="FinancialStatements.BankAccountNumber" type="text" class="form-control" placeholder="Enter last name" />
                                                <span asp-validation-for="FinancialStatements.BankAccountNumber" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <!-- Col -->
                                        </div>
                                        <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mb-3">
                                                <label asp-for="FinancialStatements.NatureOfEmployment" class="form-label">طبيعة التوظيف</label>
                                                <select asp-for="FinancialStatements.NatureOfEmployment" asp-items="@(ViewData["Employee"] as SelectList)" class="js-example-basic-single form-select">
                                                    <option value=""> </option>

                                                </select>
                                                <span asp-validation-for="FinancialStatements.NatureOfEmployment" class="text-danger"></span>
                                            </div>
                                        </div>
                                            <!-- Col -->
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="FinancialStatements.SalaryStartDate" class="form-label">تاريخ بداية الأجر</label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="FinancialStatements.SalaryStartDate" id="" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>  
                                            <span asp-validation-for="FinancialStatements.SalaryStartDate" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="FinancialStatements.SalaryEndDate" class="form-label">تاريخ نهاية الأجر </label>
                                            <div class="input-group flatpickr flatpickr-date" id="flatpickr-date">
                                                <input asp-for="FinancialStatements.SalaryEndDate" id="" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>

                                            </div>
                                            <span asp-validation-for="FinancialStatements.SalaryEndDate" class="text-danger"></span>

                                        </div>
                                            <!-- Col -->
                                        </div>

                          @*               <div class="row eff">
                                            <!-- Col -->
                                            <div class="form-check form-check-inline col-sm-3">
                                                <input type="checkbox" name="skill_check" class="form-check-input" id="checkInline1">
                                                <label class="form-check-label" for="checkInline1">
                                                    تمديد الراتب
                                                </label>

                                            </div>
                                            <div class="col-sm-9">
                                                <div class="mb-3">
                                                    <label class="form-label"> الى</label>
                                                    <div class="input-group flatpickr" id="flatpickr-date">
                                                        <input type="text" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                        <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Col -->
                                        </div> *@
                                        <div class="row">
                                            <!-- Col -->
                                            <div class="col-sm-12">
                                                <div class="mb-3">
                                                <label asp-for="FinancialStatements.Notes" class="form-label">الملاحظة</label>

                                                <textarea asp-for="FinancialStatements.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                                <span asp-validation-for="FinancialStatements.Notes" class="text-danger"></span>
                                            </div>
                                            </div>
                                            <!-- Col -->
                                        </div>
                                        <!-- Row -->
                                        <br />

                                   
                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>
                             
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="TrainingCourses">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TrainingCourses7" aria-expanded="false" aria-controls="TrainingCourses7">
                                <i data-feather="move" class="icon-sm handle me-2"></i>  اضافة الدورات التدريبية
                            </button>
                        </h2>
                        <div id="TrainingCourses7" class="accordion-collapse collapse" aria-labelledby="TrainingCourses" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle"> البيانات الدورات التدريبية </h6>

                                <hr style="color: black;">

                                <form asp-action="AddTrainingCourses" method="post">

                                    <div class="row">

                                       
                                        <div class=" col-6 mb-3">
                                            <label asp-for="TrainingCourses.EmployeeId" class="form-label"> الموظف</label>
                                            <select asp-for="TrainingCourses.EmployeeId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">...</option>

                                            </select>
                                            <span asp-validation-for="TrainingCourses.EmployeeId" class="text-danger"></span>
                                        </div>
                                      

                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="TrainingCourses.NameCourses" class="form-label">اسم الدورة</label>
                                            <input asp-for="TrainingCourses.NameCourses" type="text" class="form-control" placeholder="Enter  ExperiencesName" />
                                            <span asp-validation-for="TrainingCourses.NameCourses" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="TrainingCourses.WhereToGetIt" class="form-label">مكان الحصول عليها:</label>
                                            <input asp-for="TrainingCourses.WhereToGetIt" type="text" class="form-control" placeholder="الرقم الوظيفي " />
                                            <span asp-validation-for="TrainingCourses.WhereToGetIt" class="text-danger"></span>

                                        </div>
                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="TrainingCourses.FromDate" class="form-label">من تاريخ:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">

                                                <input asp-for="TrainingCourses.FromDate" id="fromDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="TrainingCourses.FromDate" class="text-danger"></span>

                                        </div>


                                        <div class="col-md-4 col-12 mb-3">
                                            <label asp-for="TrainingCourses.ToDate" class="form-label">الى تاريخ:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">

                                                <input asp-for="TrainingCourses.ToDate" id="toDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="TrainingCourses.ToDate" class="text-danger"></span>

                                        </div>


                                    </div>


                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>

                            </div>
                        </div>
                    </div>



                    <div class="accordion-item">
                        <h2 class="accordion-header" id="EmployeeArchives">
                            <button class="accordion-button alert alert-fill-warning collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#EmployeeArchives8" aria-expanded="false" aria-controls="TrainingCourses7">
                                <i data-feather="move" class="icon-sm handle me-2"></i>  اضافة  ملف الموظف
                            </button>
                        </h2>
                        <div id="EmployeeArchives8" class="accordion-collapse collapse" aria-labelledby="EmployeeArchives" data-bs-parent="#FaqAccordion">
                            <div class="accordion-body">
                                <h6 class="card-title headerStyle">بيانات ملف الموظف </h6>

                                <hr style="color: black;">

                                <form asp-action="AddEmployeeArchives" method="post" enctype="multipart/form-data">

                                    <div class="row">

                                        <div class="col-md-12 stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6 class="card-title"> الملف</h6>

                                                    <input asp-for="EmployeeArchives.FileUpload" type="file" class="Dropify" />
                                                    <span asp-validation-for="EmployeeArchives.FileUpload" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-6 mb-3">
                                            <label asp-for="EmployeeArchives.EmployeeId" class="form-label"> الموظف</label>
                                            <select asp-for="EmployeeArchives.EmployeeId" asp-items="@(ViewData["Manager"] as SelectList)" class="js-example-basic-single form-select">
                                                <option value="">...</option>

                                            </select>
                                            <span asp-validation-for="EmployeeArchives.EmployeeId" class="text-danger"></span>
                                        </div>


                                        <div class="col-md-6 col-12 mb-3">
                                            <label asp-for="EmployeeArchives.Date" class="form-label"> التاريخ:</label>
                                            <div class="input-group flatpickr" id="flatpickr-date">

                                                <input asp-for="EmployeeArchives.Date" id="fromDate" type="date" class="form-control" placeholder="أدخل التاريخ" data-input>
                                                <span class="input-group-text input-group-addon" data-toggle>
                                                    <i data-feather="calendar"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="EmployeeArchives.Date" class="text-danger"></span>

                                        </div>


                                        <div class=" col-12 mb-3">
                                            <label asp-for="EmployeeArchives.Descriotion" class="form-label">الوصف:</label>
                                            <input asp-for="EmployeeArchives.Descriotion" type="text" class="form-control" placeholder="الرقم الوظيفي " />
                                            <span asp-validation-for="EmployeeArchives.Descriotion" class="text-danger"></span>

                                        </div>
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <label asp-for="EmployeeArchives.Notes" class="form-label">الملاحظة</label>

                                                <textarea asp-for="EmployeeArchives.Notes" class="form-control" rows="3" placeholder="الملاحظة "></textarea>
                                                <span asp-validation-for="EmployeeArchives.Notes" class="text-danger"></span>
                                            </div>
                                        </div>


                                      


                                    </div>


                                    <br>
                                    <button type="submit" class="btn btn-primary routate">حفظ</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/js/jquery-3.6.1.min.js"></script>

<!-- سكريبت لحساب الفارق بين التواريخ وتحديث حقل الإدخال -->
<script>
    $(document).ready(function () {
        // استمع إلى حدث تغيير تاريخ البداية
        $("#fromDate").change(function () {
            updateDuration();
        });

        // استمع إلى حدث تغيير تاريخ النهاية
        $("#toDate").change(function () {
            updateDuration();
        });

        // دالة لحساب الفارق بين التواريخ وتحديث حقل الإدخال
        function updateDuration() {
            var fromDate = new Date($("#fromDate").val());
            var toDate = new Date($("#toDate").val());

            // التحقق من أن التواريخ صالحة
            if (!isNaN(fromDate) && !isNaN(toDate)) {
                var dateDifference = toDate - fromDate;
                var days = Math.floor(dateDifference / (1000 * 60 * 60 * 24));
                var hours = Math.floor((dateDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((dateDifference % (1000 * 60 * 60)) / (1000 * 60));

                // تحديث قيمة حقل الإدخال
                $("#duration").val(days + " يوم - " + hours + " ساعة - " + minutes + " دقيقة");
            }
        }
    });
</script>

<!-- سكريبت لحساب الفارق بين تاريخ الميلاد والتاريخ الحالي لحساب العمروتحديث حقل الإدخال -->
<script>
    $(document).ready(function () {
        $('#RehireDateGroup').prop('disabled', true);
        $('#DateOfStoppingWorkGroup').prop('disabled', true);

        //========================================
        $('#EmploymentStatus').change(function () {

            if(this.value==3||this.value==6)
            {
                $('#PlacementDate').prop('disabled', true);


            }
            else{
                $('#PlacementDate').prop('disabled', false);

            }
        });


        //========================================
        // استمع إلى حدث تغيير تاريخ الميلاد
        $("#birthdate").change(function () {
            updateAge();
        });

        // دالة لحساب العمر وتحديث حقل الإدخال
        function updateAge() {
            var birthdate = new Date($("#birthdate").val());
            var today = new Date();

            // التحقق من أن تاريخ الميلاد صالح
            if (!isNaN(birthdate)) {
                var age = today.getFullYear() - birthdate.getFullYear();

                // التحقق إذا كان عيد الميلاد لم يحدث بعد في هذا العام
                if (today.getMonth() < birthdate.getMonth() || (today.getMonth() === birthdate.getMonth() && today.getDate() < birthdate.getDate())) {
                    age--;
                }

                // تحديث قيمة حقل الإدخال
                $("#age").val(age);
            }
        }
        //====================================================
       


    });
    //========================================================
    $('#DateOfEmployment').change(function () {
        var inputDate = this.val();
        // Get today's date
        const today = new Date();

        // Extract year, month (0-indexed), and day from today's date
        const todayYear = today.getFullYear();
        const todayMonth = today.getMonth();
        const todayDay = today.getDate();

        // Check if input date is provided and valid
        if (!inputDate || isNaN(inputDate.getTime())) {
            console.error("Invalid input date format. Please provide a valid date.");
            return;
        }

        // Extract year, month, and day from input date
        const inputDateObj = new Date(inputDate);
        const inputYear = inputDateObj.getFullYear();
        const inputMonth = inputDateObj.getMonth();
        const inputDay = inputDateObj.getDate();

        // Calculate sum of year, month, and day for both dates
        const todaySum = todayYear + todayMonth + todayDay;
        const inputSum = inputYear + inputMonth + inputDay;

        // Calculate the total sum of both dates
        const totalSum = todaySum + inputSum;
        var employeeNumber = "5500" + totalSum;
        $('#EmployeeNumber').val(employeeNumber);
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}