@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="col-md-12">
                    <div class="grid-margin stretch-card">
                        <div class="card" style="height: auto; max-height: 250px;">
                            <div class="card-body">
                                <div class="tab-content border border-top-1 p-0 col-md-12" id="myTabContent">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                            <br>
                                            <!-- إطار الصورة -->
                                            <div class="image-container mb-3">
                                                <!-- عنصر الصورة المعاينة -->
                                                <img id="employeeImage" src="#" alt="Employee Image">
                                            </div>
                                        </div>
                                        <div class="col-md-9 p-5">
                                            <div class="row">
                                                <dl class="col-sm-3">
                                                    <dt>الموظف</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.EmployeeName)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>الرقم الوظيفي</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.EmployeeNumber)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>الوظيفة</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.JobDescription.JopName)</dd>
                                                </dl>
                                              
                                            </div>
                                        </div>

                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="example">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                              
                                <li class="nav-item">
                                    <a class="nav-link active " id="responsibilities-tab" data-bs-toggle="tab" href="#responsibilities" role="tab" aria-controls="responsibilities" aria-selected="true"> بيانات الموظف</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">بيانات الضمين </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="additional-tab" data-bs-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">الخبرات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="attendance-tab" data-bs-toggle="tab" href="#attendance" role="tab" aria-controls="attendance" aria-selected="false">البيانات الشخصية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="disabled-tab1" data-bs-toggle="tab" href="#disabled1" role="tab" aria-controls="disabled1" aria-selected="false">البيانات المالية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="disabled-tab2" data-bs-toggle="tab" href="#disabled2" role="tab" aria-controls="disabled2" aria-selected="false">بيانات الدورات التدريبية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="disabled-tab3" data-bs-toggle="tab" href="#disabled3" role="tab" aria-controls="disabled3" aria-selected="false">بيانات الاسرة  </a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" id="disabled-tab4" data-bs-toggle="tab" href="#disabled4" role="tab" aria-controls="disabled4" aria-selected="false"> بيانات ملفات الموظفين  </a>
                                </li> 
                               

                               
                                   
                            </ul>
                        </div>
                    </div>
                </div>
                @* ============================================= *@
             @*    <div class="col-md-12">
                    <div class="grid-margin stretch-card">
                        <div class="card" style="height: auto; max-height: 200px;">
                            <div class="card-body">
                                <div class="tab-content border border-top-1 p-0 col-md-12" id="myTabContent">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="glyphicon glyphicon-chevron-left"></i>
                                                <br>
                                                <!-- إطار الصورة -->
                                                <div class="image-container mb-3">
                                                    <!-- عنصر الصورة المعاينة -->
                                                    <img id="employeeImage" src="#" alt="Employee Image">
                                                </div>
                                            </div>
                                        <div class="col-md-9 p-3">
                                                <div class="row">
                                                    <dl class="col-sm-3">
                                                        <dt>الموظف</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.EmployeeName)</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@

                @* ====================================================== *@
                <div class="col-md-12">
                    <div class="grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content border border-top-1 p-3 col-md-12" id="myTabContent">
                                    <div class="tab-pane fade show active " id="responsibilities" role="tabpanel" aria-labelledby="responsibilities-tab">
                                        <h6 class="mb-3">بيانات الموظف</h6>
                                        <div class="row ">
                                          

                                            <div class="col-md-9">
                                                <div class="row ">
                                                    
                                                  
                                                    <dl class="col-sm-3">
                                                        <dt>الادارة</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.Departments.SubAdministration)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt>القسم</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.Sections.SectionsName)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt>المشرف المباشر</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.Manager.EmployeeName)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt>الحالة الوظيفية</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.EmploymentStatus)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt>تاريخ التوظيف</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.DateOfEmployment)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt>تاريخ التثبيت </dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.DateInsurance)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt> يستخدم جهاز بصمة</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.UsedFingerprint)</dd>
                                                    </dl>
                                                    <dl class="col-sm-3">
                                                        <dt> خاضع لتامين</dt>
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.Employee.SubjectToInsurance)</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    @* ================================2 *@
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <h6 class="mb-3">بيانات الظمين</h6>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <dl class="col-sm-4">
                                                    <dt> اسم الظمين</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.Name)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt>اسم المحل التجاري</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.NameOfTheBusiness)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> عنوان المحل التجاري</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.ShopAddress)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> رقم السجل</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.NumberOfDependents)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> المبايل </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.PhoneNumber)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt>  عنوان السكن الدائم</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.HomeAdress)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt>  الحالة الاجتماعية</dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.MaritalStatus)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> عدد من يعول </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.NumberOfDependents)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الملاحضة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.guarantees.Notes)</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    @* ================================3 *@

                                    <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                                        <h6 class="mb-3">الخبرات</h6>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <dl class="col-sm-4">
                                                    <dt> اسم الخبرة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PracticalExperiences.ExperiencesName)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> مكان الحصول على الخبرة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PracticalExperiences.PlacToGainExperience)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الفترة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PracticalExperiences.Duration)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> من تاريخ  </dt>
                                                    <div class="col-md-9">
                                                        <dd class="col-md-12">@Html.DisplayFor(model => model.PracticalExperiences.FromDate)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الى تاريخ  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PracticalExperiences.ToDate)</dd>
                                                </dl>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    @* =========================================4 *@
                                    <div class="tab-pane fade" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
                                        <h6 class="mb-3">البيانات الشخصية</h6>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <dl class="col-sm-4">
                                                    <dt> الايميل  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Email)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> تاريخ الميلاد  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.DateOfBirth)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> العمر  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Age)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الحالة الاجتماعية  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.MaritalStatus.Name)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> النوع  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Sex.Name)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الجنسية  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Nationality.NationalityName)</dd>
                                                </dl>
                                                <dl class="col-sm-4">
                                                    <dt> الديانة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Religion.Name)</dd>
                                                </dl>
                                               
                                                <dl class="col-sm-4">
                                                    <dt> العنوان  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.PersonalData.Address)</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    @* ================================5 *@
                                    <div class="tab-pane fade" id="disabled1" role="tabpanel" aria-labelledby="disabled-tab1">
                                        <h6 class="mb-3">البيانات المالية</h6>
                                        <div class="col-md-12">
                                            <div class="row">
                                               
                                                <dl class="col-sm-3">
                                                    <dt> الراتب الاساسي  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.FinancialStatements.BasicSalary)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt> العملة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.FinancialStatements.Currency.CurrencyName)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt> طبيعة التوظيف  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.FinancialStatements.NatureOfEmployment)</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    @* ==================================6 *@
                                    <div class="tab-pane fade" id="disabled2" role="tabpanel" aria-labelledby="disabled-tab2">
                                        <h6 class="mb-3"> بيانات الدورات التدريبية </h6>
                                        <div class="col-md-12">
                                            <div class="row">
                                               
                                                <dl class="col-sm-3">
                                                    <dt>  اسم الدورة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.TrainingCourses.NameCourses)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>  مكان الحصول عليها  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.TrainingCourses.WhereToGetIt)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>    من تاريخ  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.TrainingCourses.FromDate)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>    الى تاريخ  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.TrainingCourses.ToDate)</dd>
                                                </dl>

                                            </div>
                                        </div>
                                    </div>
                                    @* ================================7 *@
                                    <div class="tab-pane fade" id="disabled3" role="tabpanel" aria-labelledby="disabled-tab1">
                                        <h6 class="mb-3">بيانات الاسرة</h6>
                                        <div class="col-md-12">
                                            <div class="row">

                                                <dl class="col-sm-3">
                                                    <dt>  الاسم  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.Family.Name)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt> صلة القرابة  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.Family.RelativesType.RelativeName)</dd>
                                                </dl>                                                
                                            </div>
                                        </div>
                                    </div>
                                        @* ================================8 *@
                                    <div class="tab-pane fade" id="disabled4" role="tabpanel" aria-labelledby="disabled-tab1">
                                        <h6 class="mb-3">بيانات ملفات الموظفين</h6>
                                        <div class="col-md-12">
                                            <div class="row">

                                                <dl class="col-sm-3">
                                                    <dt>  الملف  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.EmployeeArchives.File)</dd>
                                                </dl>
                                                <dl class="col-sm-3">
                                                    <dt>  التاريخ  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.EmployeeArchives.Date)</dd>
                                                </dl> 
                                                <dl class="col-sm-3">
                                                    <dt>  الوصف  </dt>
                                                    <dd class="col-md-12">@Html.DisplayFor(model => model.EmployeeArchives.Descriotion)</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    @* ================================8 *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('employeeImage');
                output.src = reader.result;
                output.style.display = 'block'; // إظهار عنصر الصورة بعد تحميلها
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        window.onload = function () {
            // تطبيق تنسيقات CSS باستخدام JavaScript
            var imageContainer = document.querySelector('.image-container');
            var employeeImage = document.getElementById('employeeImage');

            if (imageContainer) {
                imageContainer.style.width = '120px'; // ضبط عرض الصورة
                imageContainer.style.height = '120px'; // ضبط ارتفاع الصورة
                imageContainer.style.margin = '0 auto';
                imageContainer.style.border = '1px solid #ccc';
                imageContainer.style.display = 'flex';
                imageContainer.style.justifyContent = 'center';
                imageContainer.style.alignItems = 'center';
                imageContainer.style.borderRadius = '50%';
                imageContainer.style.overflow = 'hidden';
            }

            if (employeeImage) {
                employeeImage.style.width = '100%';
                employeeImage.style.height = '100%';
                employeeImage.style.objectFit = 'cover';
                employeeImage.style.display = 'none'; // إخفاء الصورة حتى يتم تحميلها
            }

            var labels = document.querySelectorAll('label');
            var inputs = document.querySelectorAll('input');

            labels.forEach(function (label) {
                label.style.textAlign = 'right';
                label.style.display = 'block'; // اجعل العنصر block لضمان المحاذاة
            });

            inputs.forEach(function (input) {
                input.style.textAlign = 'right';
                input.dir = 'rtl'; // لجعل النص يبدأ من اليمين
            });
        }
    </script>
}
