@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>
<authorize policy="AddPolicy">
    <a asp-action="AddEmployee" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
</authorize>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h6 class="card-title">بيانات الموظفين</h6>
                    <a asp-action="AddEmployee" class="btn btn-primary col-md-1 col-12  ">جديد</a>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>الرقم الوظيف</th>
                                <th>الصورة</th>
                                <th>الاسم</th>
                                <th>تاريخ التوظيف</th>
                                <th>تاريخ التثبيت</th>
                                <th>الإدارة</th>
                                <th>القسم</th>
                                <th>الوظيفة</th>
                                <th>المشرف المباشر</th>
                                <th>الحالة الوظيفية</th>
                                <th>يستخدم البصمة</th>
                                <th>جهاز البصمة</th>
                                <th>خاضع للتأمين</th>
                                <th>تاريخ التأمين</th>
                                <th>تاريخ إعادة التوظيف</th>
                                <th>تاريخ التوقف عن العمل</th>
                                <th>الملاحظات</th>
                                <th >#</th>
                                @* <th style="left:10px;z-index: 500; color: rgb(255 255 255)"></th> *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model.EmployeeList)
                            {
                                <tr>
                                    <td>@employee.EmployeeNumber </td>
                                    <td style="    padding-bottom: 1px;padding-top: 6px;">
                                        

                                   
                               
                                        <!-- Gallery start -->
                                        @* <div class="baguetteBoxThree gallery">
                                      

                                            <a href="~/Upload/Images/Employee/@employee.ImageFile" class="effects">
                                                <img src="~/Upload/Images/@employee.ImageFile" class="avatar img-thumbnail img-xs img-fluid" alt=".......">
                                                <div class="overlay">
                                                    <span class="expand">+</span>
                                                </div>
                                            </a>

                                                 </div> *@

                                    @using Microsoft.AspNetCore.Authorization
                                    @inject IAuthorizationService AuthorizationService

                                        @{
                                            var user = User;
                                            var isMalePhoto = (await AuthorizationService.AuthorizeAsync(user, "MalePhotoPolicy")).Succeeded;
                                            var isFemalePhoto = (await AuthorizationService.AuthorizeAsync(user, "FemalePhotoPolicy")).Succeeded;
                                        }

                                        <div class="baguetteBoxThree gallery">
                                            @if ((isMalePhoto && employee.personalData?.Sex?.Name == "Male") ||
                                           (isFemalePhoto && employee.personalData?.Sex?.Name == "Female"))
                                            {
                                                <a href="~/Upload/Images/Employee/@employee.ImageFile" class="effects">
                                                    <img src="~/Upload/Images/Employee/@employee.ImageFile" class="avatar img-thumbnail img-xs img-fluid" alt=".......">
                                                    <div class="overlay">
                                                        <span class="expand">+</span>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <p>ليس لديك صلاحية لعرض هذه الصورة.</p>
                                            }
                                        </div>




                                      

@* 

                                             </div>
                                            <!-- Row end -->
                                        </div>  *@
                                        <!-- Gallery end -->
                                    <td>

                                        <a asp-action="" asp-route-id="@employee.Id">Edit</a> |
                                        <a asp-action="details" asp-route-id="@employee.Id">Details</a> |

                                        <a asp-action="Delete" id="emploteeDelete" asp-route-id="@employee.Id">Delete</a>
                                    </td>
                                </tr>
                                    
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الضمين</h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table  nowrap w-100">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>اسم الضمين</th>
                                <th>رقم الهاتف</th>
                                <th>اسم المحل التجاري</th>
                                <th>رقم السجل</th>
                                <th>عنوان المحل التجاري</th>
                                <th>عنوان السكن الدائم</th>
                                <th>الحالة الإجتماعية</th>
                                <th>عدد من يعول</th>
                                <th>ملاحظات</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var guarantees in Model.guaranteesList)

                            {
                                <tr>
                                    <td>@guarantees.Id </td>
                                    <td>@guarantees.Name </td>
                                    <td>@guarantees.PhoneNumber </td>
                                    <td>@guarantees.NameOfTheBusiness </td>
                                    <td>@guarantees.CommercialRegistrationNo </td>
                                    <td>@guarantees.ShopAddress </td>
                                    <td>@guarantees.HomeAdress </td>
                                    <td>@guarantees.MaritalStatus?.Name </td>
                                    <td>@guarantees.NumberOfDependents </td>
                                    <td>@guarantees.Notes </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@guarantees.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@guarantees.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@guarantees.Id">Delete</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الخبرات</h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table  nowrap w-100">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>ExperiencesName</th>
                                <th>PlacToGainExperience</th>
                                <th>FromDate</th>
                                <th>ToDate</th>
                                <th>Duration</th>
                                <th>Employee</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var PracticalExperiences in Model.PracticalExperiencesList)

                            {
                                <tr>
                                    <td>@PracticalExperiences.Id </td>
                                    <td>@PracticalExperiences.ExperiencesName </td>
                                    <td>@PracticalExperiences.PlacToGainExperience </td>
                                    <td>@PracticalExperiences.FromDate </td>
                                    <td>@PracticalExperiences.ToDate </td>
                                    <td>@PracticalExperiences.Duration </td>
                                    <td>@PracticalExperiences.Employee?.EmployeeName </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@PracticalExperiences.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@PracticalExperiences.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@PracticalExperiences.Id">Delete</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الأسرة</h6>

                <hr style="color: black;">
                <div class="table-responsive ">
                    <table class=" datatable table  nowrap w-100">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>Name</th>
                                <th>RelativesType</th>
                                <th>Employee</th>
                                <th>Notes</th>

                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Family in Model.FamilyList)

                            {
                                <tr>
                                    <td>@Family.Id </td>
                                    <td>@Family.Name </td>
                                    <td>@Family.RelativesType?.RelativeName </td>
                                    <td>@Family.Employees?.EmployeeName </td>
                                    <td>@Family.Notes </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@Family.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@Family.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@Family.Id">Delete</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">البيانات المالية </h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table  nowrap w-100">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>EmployeeName</th>
                                <th>BasicSalary</th>
                                <th>BankAccountNumber</th>
                                <th>InsuranceAccountNumber</th>
                                <th>SalaryStartDate</th>
                                <th>SalaryEndDate</th>
                                <th>Notes</th>

                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var FinancialStatements in Model.FinancialStatementsList)

                            {
                                <tr>
                                    <td>@FinancialStatements.Id </td>
                                    <td>@FinancialStatements.employee?.EmployeeName </td>
                                    <td>@FinancialStatements.BasicSalary  @FinancialStatements.Currency?.CurrencyName </td>

                                    <td>@FinancialStatements.BankAccountNumber </td>
                                    <td>@FinancialStatements.InsuranceAccountNumber </td>
                                    <td>@FinancialStatements.SalaryStartDate </td>
                                    <td>@FinancialStatements.SalaryEndDate </td>
                                    <td>@FinancialStatements.Notes </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@FinancialStatements.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@FinancialStatements.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@FinancialStatements.Id">Delete</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الدورات التدريبية</h6>

                <hr style="color: black;">
                <div class="table-responsive ">
                    <table class="datatable table  nowrap w-100">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>NameCourses</th>
                                <th>WhereToGetIt</th>
                                <th>FromDate</th>
                                <th>ToDate</th>
                                <th>Employee</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var TrainingCourses in Model.TrainingCoursesList)

                            {
                                <tr>
                                    <td>@TrainingCourses.Id </td>
                                    <td>@TrainingCourses.NameCourses </td>
                                    <td>@TrainingCourses.WhereToGetIt </td>
                                    <td>@TrainingCourses.FromDate </td>
                                    <td>@TrainingCourses.ToDate </td>

                                    <td>@TrainingCourses.EmployeeOne?.EmployeeName </td>
                                    <td>
                                        <a asp-action="" asp-route-id="@TrainingCourses.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@TrainingCourses.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@TrainingCourses.Id">Delete</a>
                                    </td>
                                </tr>

                            }

                                    {
                                    <td style="color: red">لا</td>
                                    }
                                    @* <td>@employee.SubjectToInsurance </td> *@
                                    <td>@employee.DateInsurance </td>
                                    <td>@employee.RehireDate </td>
                                    <td>@employee.DateOfStoppingWork </td>
                                    <td>@employee.Notes </td>
                                    
                                    @* <td style="position: absolute ;left:20px; z-index: 500; background-color: white"> *@
                                    <td>
                                        <a asp-action="" asp-route-id="@employee.Id">Edit</a> |
                                        <a asp-action="details" asp-route-id="@employee.Id">Details</a> |
                                        <a asp-action="Delete" id="emploteeDelete" asp-route-id="@employee.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#emploteeDelete").on("click", function () {
            var id = this.value;
            if (id != "") {
                $.ajax({
                    url: '/EmployeesAffsirs/EmploymentStatusManagements/EmployeeData?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#employeeStatus').val(data.employmentStatus);
                        $('#dateOfHire').val(data.dateOfEmployment);
                        $('#dateOfstiky').val(data.placementDate);
                        $('#select').val(data.employmentStatus).change();
                        console.log(data.employmentStatus);
                    }
                });
            }
        });

    </script>
}