@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM

@{
    ViewData["Title"] = "الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h6 class="card-title">بيانات الموظفين</h6>
                    <authorize policy="AddPolicy">
                        <a asp-action="AddEmployee" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>الرقم الوظيف</th>
                                <th>الصورة</th>
                                <th>الاسم</th>
                                <th>تاريخ التوظيف</th>
                                <th>تاريخ التثبيت</th>
                                <th>الإدارة</th>
                                <th>القسم</th>
                                <th>الوظيفة</th>
                                <th>المشرف المباشر</th>
                                <th>الحالة الوظيفية</th>
                                <th>يستخدم البصمة</th>
                                <th>جهاز البصمة</th>
                                <th>خاضع للتأمين</th>
                                <th>تاريخ التأمين</th>
                                <th>تاريخ إعادة التوظيف</th>
                                <th>تاريخ التوقف عن العمل</th>
                                <th>الملاحظات</th>
                                <th>#</th>

                            </tr>
                        </thead>
                        <tbody>
                        
                            @{
                                var isMalePhotoAllowed = User.IsInRole("MalePhoto");
                                var isFemalePhotoAllowed = User.IsInRole("FemalePhoto");
                            }

                            @foreach (var employee in Model.EmployeeList)
                            {
                                <tr>
                                    <td>@employee.EmployeeNumber</td>
                                    <td style="padding-bottom: 1px; padding-top: 6px;">
                                        <div class="baguetteBoxThree gallery">
                                            @if (employee != null && employee.personalData != null && employee.personalData.Sex != null)
                                            {
                                                var isMale = employee.personalData.Sex.Name == "ذكر";
                                                var isFemale = employee.personalData.Sex.Name == "أنثى";

                                                if ((isMale && isMalePhotoAllowed) || (isFemale && isFemalePhotoAllowed))
                                                {
                                                    <a href="~/Upload/Images/Employee/@employee.ImageFile" class="effects direct-view">
                                                        <img src="~/Upload/Images/Employee/@employee.ImageFile" class="avatar img-thumbnail img-xs img-fluid" alt=".......">
                                                        <div class="overlay">
                                                            <span class="expand">+</span>
                                                        </div>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="~/Upload/@(isMale ? "MalePhoto/male.jpg" : "FemalePhoto/female.png")" class="effects no-permission" data-message="ليس لديك صلاحيات لعرض الصورة">
                                                        <img src="~/Upload/@(isMale ? "MalePhoto/male.jpg" : "FemalePhoto/female.png")" class="avatar img-thumbnail img-xs img-fluid" alt=".......">
                                                        <div class="overlay">
                                                            <span class="expand">+</span>
                                                        </div>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </td>
                               
                            

                            

                         

                                    <!-- Include SweetAlert CSS and JS -->
                                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>

                                    <script>
                                        document.addEventListener('DOMContentLoaded', (event) => {
                                            document.querySelectorAll('.direct-view').forEach(element => {
                                                element.addEventListener('click', function (event) {
                                                    event.preventDefault();
                                                    const imgSrc = this.getAttribute('href');
                                                    Swal.fire({
                                                        imageUrl: imgSrc,
                                                        imageAlt: 'صورة الموظف',
                                                        showCloseButton: true,
                                                        showConfirmButton: false
                                                    });
                                                });
                                            });

                                            document.querySelectorAll('.no-permission').forEach(element => {
                                                element.addEventListener('click', function (event) {
                                                    event.preventDefault();
                                                    Swal.fire({
                                                        icon: 'warning',
                                                        title: 'تنبيه',
                                                        text: this.getAttribute('data-message'),
                                                        showCancelButton: true,
                                                        confirmButtonText: 'عرض الصورة',
                                                        cancelButtonText: 'إلغاء'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            const imgSrc = this.getAttribute('href');
                                                            Swal.fire({
                                                                imageUrl: imgSrc,
                                                                imageAlt: 'صورة الموظف',
                                                                showCloseButton: true,
                                                                showConfirmButton: false
                                                            });
                                                        }
                                                    });
                                                });
                                            });
                                        });
                                    </script>



                                  
                                    <td>@employee.EmployeeName </td>
                                    <td>@employee.DateOfEmployment </td>
                                    <td>@employee.PlacementDate </td>
                                    <td>@employee.Departments?.SubAdministration </td>
                                    <td>@employee.Sections?.SectionsName </td>
                                    <td>@employee.JobDescription?.JopName </td>
                                    <td>@employee.Manager?.EmployeeName </td>
                                    <td>@employee.EmploymentStatus </td>
                                    @if (employee.UsedFingerprint == true)
                                    {
                                        <td style="color: green">نعم</td>
                                    }
                                    else
                                    {
                                        <td style="color: red">لا</td>
                                    }
                                    @*                                     <td>@employee.UsedFingerprint </td>
                                *@
                                    <td>@(employee.FingerprintDevices?.DevicesName)</td>
                                    @if (employee.SubjectToInsurance == true)

                                    {
                                        <td style="color: green">نعم</td>
                                    }

                                    {
                                    <td style="color: red">لا</td>
                                    }
                                    @* <td>@employee.SubjectToInsurance </td> *@
                                    <td>@employee.DateInsurance </td>
                                    <td>@employee.RehireDate </td>
                                    <td>@employee.DateOfStoppingWork </td>
                                    <td>@employee.Notes </td>


                                    <td>
                                        <authorize policy="ProfilePolicy">
                                            <a asp-action="profile" class="btn btn-primary" asp-route-id="@employee.Id">profile</a>|
                                        </authorize>
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="details" class="btn btn-primary" asp-route-id="@employee.Id">التفاصيل</a> |
                                        </authorize>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@employee.Id">تعديل</a> |
                                        </authorize>
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" class="btn btn-danger" id="emploteeDelete" asp-route-id="@employee.Id">حذف</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#emploteeDelete").on("click", function () {
            var id = this.value;
            if (id != "") {
                $.ajax({
                    url: '/EmployeesAffsirs/EmploymentStatusManagements/EmployeeData?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#employeeStatus').val(data.employmentStatus);
                        $('#dateOfHire').val(data.dateOfEmployment);
                        $('#dateOfstiky').val(data.placementDate);
                        $('#select').val(data.employmentStatus).change();
                        console.log(data.employmentStatus);
                    }
                });
            }
        });

    </script>
}