@* @model IEnumerable<N.G.HRS.Areas.Employees.Models.Employee> *@
@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Index</h1>
<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الموظفين</h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>EmployeeNumber</th>
                                <th>EmployeeName</th>
                                <th>DateOfEmployment</th>
                                <th>PlacementDate</th>
                                <th>EmploymentStatus</th>
                                <th>RehireDate</th>
                                <th>DateOfStoppingWork</th>
                                <th>UsedFingerprint</th>
                                <th>SubjectToInsurance</th>
                                <th>DateInsurance</th>
                                <th>Notes</th>
                                <th>Departments</th>
                                <th>Sections</th>
                                <th>JobDescription</th>
                                <th>FingerprintDevices</th>
                                <th>Manager</th>
                                <th>Action</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model.EmployeeList)

                            {
                                <tr>
                                    <td>@employee.Id </td>
                                    <td>@employee.EmployeeNumber </td>
                                    <td>@employee.EmployeeName </td>
                                    <td>@employee.DateOfEmployment </td>
                                    <td>@employee.PlacementDate </td>
                                    <td>@employee.EmploymentStatus </td>
                                    <td>@employee.RehireDate </td>
                                    <td>@employee.DateOfStoppingWork </td>
                                    <td>@employee.UsedFingerprint </td>
                                    <td>@employee.SubjectToInsurance </td>
                                    <td>@employee.DateInsurance </td>
                                    <td>@employee.Notes </td>
                                    <td>@employee.Departments?.SubAdministration </td>
                                    <td>@employee.Sections?.SectionsName </td>
                                    <td>@employee.JobDescription?.JopName </td>
                                    <td>@(employee.FingerprintDevices?.DevicesName)</td>
                                    <td>@employee.Manager?.EmployeeName </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                                    </td>
                                </tr>
                                
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الخبرات</h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>ExperiencesName</th>
                                <th>PlacToGainExperience</th>
                                <th>FromDate</th>
                                <th>ToDate</th>
                                <th>Duration</th>
                                <th>Employee</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var PracticalExperiences in Model.PracticalExperiencesList)

                            {
                                <tr>
                                    <td>@PracticalExperiences.Id </td>
                                    <td>@PracticalExperiences.ExperiencesName </td>
                                    <td>@PracticalExperiences.PlacToGainExperience </td>
                                    <td>@PracticalExperiences.FromDate </td>
                                    <td>@PracticalExperiences.ToDate </td>
                                    <td>@PracticalExperiences.Duration </td>
                                    <td>@PracticalExperiences.Employee?.EmployeeName </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@PracticalExperiences.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@PracticalExperiences.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@PracticalExperiences.Id">Delete</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">بيانات الأسرة</h6>

                <hr style="color: black;">
                <div class="table-responsive">
                    <table class="datatable table">
                        <thead>
                            <tr>
                                <th style="width: 1rem;">Id</th>
                                <th>Name</th>
                                <th>RelativesType</th>
                                <th>Employee</th>
                                <th>Notes</th>

                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Family in Model.FamilyList)

                            {
                                <tr>
                                    <td>@Family.Id </td>
                                    <td>@Family.Name </td>
                                    <td>@Family.RelativesType?.RelativeName </td>
                                    <td>@Family.Employees?.EmployeeName </td>
                                    <td>@Family.Notes </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@Family.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@Family.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@Family.Id">Delete</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}