@model N.G.HRS.Areas.Employees.ViewModel.EmployeeVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h6 class="card-title">بيانات الموظفين</h6>
                    <a asp-action="AddEmployee" class="btn btn-primary col-md-1 col-12  ">جديد</a>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>الرقم الوظيف</th>
                                <th>الصورة</th>
                                <th>الاسم</th>
                                <th>تاريخ التوظيف</th>
                                <th>تاريخ التثبيت</th>
                                <th>الإدارة</th>
                                <th>القسم</th>
                                <th>الوظيفة</th>
                                <th>المشرف المباشر</th>
                                <th>الحالة الوظيفية</th>
                                <th>يستخدم البصمة</th>
                                <th>جهاز البصمة</th>
                                <th>خاضع للتأمين</th>
                                <th>تاريخ التأمين</th>
                                <th>تاريخ إعادة التوظيف</th>
                                <th>تاريخ التوقف عن العمل</th>
                                <th>الملاحظات</th>
                                <th>#</th>
                                @* <th style="left:10px;z-index: 500; color: rgb(255 255 255)"></th> *@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model.EmployeeList)
                            {
                                <tr>
                                    <td>@employee.EmployeeNumber </td>
                                    <td style="    padding-bottom: 1px;padding-top: 6px;">
                                        <div class="baguetteBoxThree gallery">
                                            <a href="~/Upload/Images/@employee.ImageFile" class="effects">
                                                <img src="~/Upload/Images/@employee.ImageFile" class="avatar   img-thumbnail img-xs img-fluid" alt=".......">
                                                <div class="overlay">
                                                    <span class="expand">+</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>@employee.EmployeeName </td>
                                    <td>@employee.DateOfEmployment </td>
                                    <td>@employee.PlacementDate </td>
                                    <td>@employee.Departments?.SubAdministration </td>
                                    <td>@employee.Sections?.SectionsName </td>
                                    <td>@employee.JobDescription?.JopName </td>
                                    <td>@employee.Manager?.EmployeeName </td>
                                    <td>@employee.EmploymentStatus </td>
                                    @if (employee.UsedFingerprint == true)
                                    {
                                        <td style="color: green">نعم</td>
                                    }
                                    else
                                    {
                                        <td style="color: red">لا</td>
                                    }
                                    @*                                     <td>@employee.UsedFingerprint </td>
                                *@
                                    <td>@(employee.FingerprintDevices?.DevicesName)</td>
                                    @if (employee.SubjectToInsurance == true)
                                    {
                                        <td style="color: green">نعم</td>
                                    }

                                    {
                                    <td style="color: red">لا</td>
                                    }
                                    @* <td>@employee.SubjectToInsurance </td> *@
                                    <td>@employee.DateInsurance </td>
                                    <td>@employee.RehireDate </td>
                                    <td>@employee.DateOfStoppingWork </td>
                                    <td>@employee.Notes </td>

                                    @* <td style="position: absolute ;left:20px; z-index: 500; background-color: white"> *@
                                    <td>
                                        <a asp-action="profile" class="btn btn-primary" asp-route-id="@employee.Id">Delete</a>
                                        <a asp-action="details" class="btn btn-primary" asp-route-id="@employee.Id">Details</a> |
                                        <a asp-action="" class="btn btn-primary" asp-route-id="@employee.Id">Edit</a> |
                                        <a asp-action="Delete" class="btn btn-danger" id="emploteeDelete" asp-route-id="@employee.Id">Delete</a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#emploteeDelete").on("click", function () {
            var id = this.value;
            if (id != "") {
                $.ajax({
                    url: '/EmployeesAffsirs/EmploymentStatusManagements/EmployeeData?id=' + id,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#employeeStatus').val(data.employmentStatus);
                        $('#dateOfHire').val(data.dateOfEmployment);
                        $('#dateOfstiky').val(data.placementDate);
                        $('#select').val(data.employmentStatus).change();
                        console.log(data.employmentStatus);
                    }
                });
            }
        });

    </script>
}