@model N.G.HRS.Areas.GeneralConfiguration.Models.FingerprintDevices

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FingerprintDevices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevicesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevicesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPhon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorPhon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceSpecifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceSpecifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConnected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConnected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
