@model IEnumerable<N.G.HRS.Areas.GeneralConfiguration.Models.FingerprintDevices>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>تهيئة أجهزة البصمة </h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DevicesName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeviceType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeviceStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConnectionType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfPurchase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorPhon)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VendorAdress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ManufactureCompany)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeviceSpecifications)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IpAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsConnected)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DevicesName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConnectionType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfPurchase)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorPhon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VendorAdress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManufactureCompany)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeviceSpecifications)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IpAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsConnected)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
