@model IEnumerable<N.G.HRS.Areas.EmployeesAffsirs.Models.AdministrativeDecisions>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "القرارات الادارية";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>القرارات الادارية</h3>


                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalaryStartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalaryEndtDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Currency)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeementReson)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeementOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    @switch (item.EmployeeStatus)
                                    {
                                        case "1":
                                            <td>
                                                مثبت
                                            </td>
                                            break;
                                        case "2":
                                            <td>
                                                متعاقد
                                            </td>
                                            break;
                                        case "3":
                                            <td>
                                                متدرب
                                            </td>
                                            break;
                                        case "4":
                                            <td>
                                                مستمر
                                            </td>
                                            break;
                                        case "5":
                                            <td>
                                                موقف
                                            </td>
                                            break;
                                        case "6":
                                            <td>
                                                تم إنهاء الخدمة
                                            </td>
                                            break;
                                        case "7":
                                            <td>
                                                حارس أمن
                                            </td>
                                            break;
                                        default:
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeStatus)
                                            </td>
                                            break;
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SalaryStartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SalaryEndtDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeementReson)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeementOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td>
                                        <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 