@model N.G.HRS.Areas.PayRoll.Models.Salaries

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salaries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Additinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Additinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.CurrencyCode)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gratuities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gratuities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonuses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonuses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entitlements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entitlements)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deductions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deductions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Another)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Another)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
