@model IEnumerable<N.G.HRS.Areas.PayRoll.Models.Salaries>

@{
    ViewData["Title"] = "جديد";
}

<h1>Index</h1>


<authorize policy="AddPolicy">
    <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
</authorize>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Additinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.allowances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gratuities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bonuses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entitlements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Another)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Additinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseSalary)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.allowances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gratuities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonuses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entitlements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Another)
            </td>
                <td>
                    <authorize policy="EditPolicy">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </authorize> |
                    <authorize policy="DetailsPolicy">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </authorize> |
                    <authorize policy="DeletePolicy">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </authorize>
                </td>
        </tr>
}
    </tbody>
</table>
