@model IEnumerable<N.G.HRS.Areas.Finance.Models.Currency>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "العملات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">    
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3>تهيئة العملات</h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrencyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrencyCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrentPriceOfCurrency)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PreviousPriceOfCurrency)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CurrencyNotes)
                                </th>
                                
                                <th style="left:10px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrentPriceOfCurrency)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PreviousPriceOfCurrency)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyNotes)
                                    </td>

                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
