@model N.G.HRS.Areas.AalariesAndWages.Models.AllowancesAndDiscounts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";

}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Home" asp-area="" >الرئيسة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تهيئة النظام
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            التهيئة العامة
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a asp-action="Index" > دليل البدلات والخصميات </a>
        </li>
      
    </ol>
</nav>

    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> دليل البدلات والخصميات </h3>
                    <br />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>                   
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-4">
                                <div class="mb-3">
                                <label asp-for="Type" class="form-label"></label>
                                    <select asp-for="Type" class="j form-control">
                                    <option value="" ></option>
                                        <option value="Allowance">بدلات</option>
                                        <option value="Discount">خصميات</option>
                                    </select>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Taxable" /> @Html.DisplayNameFor(model => model.Taxable)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Col -->
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="AddedToAllEmployees" /> @Html.DisplayNameFor(model => model.AddedToAllEmployees)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="CumulativeAllowance" /> @Html.DisplayNameFor(model => model.CumulativeAllowance)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="SubjectToInsurance" /> @Html.DisplayNameFor(model => model.SubjectToInsurance)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="mb-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="showInput1">قيمة</label>
                                            <input class="form-check-input"  type="radio"  id="showInput1" name="inputSelector" value="قيمة" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="input1">
                                    <div class="mb-3">
                                <label asp-for="Amount" class="form-label"></label>
                                        <input asp-for="Amount" id="Amount" placeholder="قيمة" class="form-control" />
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="input2" style="display: none">
                                    <div class="mb-3">
                                <label asp-for="Percentage" class="form-label"></label>
                                <input asp-for="Percentage" id="Percentage" placeholder="نســـــــــبـة" class="form-control" />
                                        <span asp-validation-for="Percentage" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>        
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="mb-2">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="showInput1">نسبة</label>
                                            <input class="form-check-input" type="radio" id="showInput2" name="inputSelector" value="نسبة">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                <label asp-for="CurrencyId" class="form-label"></label>
                                <select asp-for="CurrencyId" id="CurrencyId" class="form-control" asp-items="@(ViewData["CurrencyId"] as SelectList)">
                                            <option value="">-- اختر العملة --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>                            
                        <!-- Row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label">ملاحظات</label>
                                    <input type="text" class="form-control" autocomplete="off"
                                           placeholder="ملاحظات" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="mb-1">
                                <input type="submit" id="Submit" value="حفظ" class="btn btn-primary" />

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="mb-1">
                                <a asp-action="Index" class="btn btn-light">رجوع الى القائمة</a>

                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    // Get the radio buttons and input boxes elements
    const radioInput1 = document.getElementById('showInput1');
    const radioInput2 = document.getElementById('showInput2');
    const Amount = document.getElementById('Amount');
    const Percentage = document.getElementById('Percentage');
    const Submit = document.getElementById('Submit');
    const CurrencyId = document.getElementById('CurrencyId');

    const input1 = document.getElementById('input1');
    const input2 = document.getElementById('input2');

    // Add event listeners to radio buttons for change event
    radioInput1.addEventListener('change', function () {
        if (this.checked) {
            input1.style.display = 'block';
            input2.style.display = 'none';
        }


    });
    Submit.addEventListener('click', function () 
    {
        if (radioInput1.checked)
        {
            if (Amount.value ==="") 
            {
                event.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "يرجى ادخال مبلغ البدل/الخصم!!",
                });
            }
        }
        if (radioInput2.checked) 
        {
            if (Percentage.value ==="") 
            {
                event.preventDefault();

                Swal.fire({
                    icon: "error",
                    title: "يرجى ادخال نسبة البدل/الخصم!!",
                });
            }
        }
        if (CurrencyId.value ==="")
        {
            event.preventDefault();

            Swal.fire({
                icon: "error",
                title: "يرجى أختيار العملة!!",
            });
        }

    });
    radioInput2.addEventListener('change', function () {
        if (this.checked) {
            input1.style.display = 'none';
            input2.style.display = 'block';
        }
    });
</script>