@model IEnumerable<N.G.HRS.Areas.AalariesAndWages.Models.AllowancesAndDiscounts>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "البدلات والخصومات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3> البدلات والخصميات</h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Taxable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AddedToAllEmployees)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CumulativeAllowance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubjectToInsurance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)/ @Html.DisplayNameFor(model => model.Percentage)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Currency)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Notes)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    @if (item.Type != null)
                                    {
                                        @if (item.Type == "Discount")
                                        {
                                            <td>
                                                <h5>خصم</h5>
                                            </td>
                                        }
                                        @if (item.Type == "Allowance")
                                        {
                                            <td>
                                                <h5>بدل</h5>
                                            </td>
                                        }
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Taxable)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AddedToAllEmployees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CumulativeAllowance)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubjectToInsurance)
                                    </td>
                                    @if (item.Percentage != null)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Percentage) <span>%</span>
                                        </td>
                                    }
                                    @if (item.Amount != null)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>