@model IEnumerable<N.G.HRS.Areas.PenaltiesAndViolations.Models.Penalties>


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " العقوبات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Index</h1>

<authorize policy="AddPolicy">
    <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
</authorize>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenaltiesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountFromWorkingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeductionFromTheDailyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeductionFromSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltiesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountFromWorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductionFromTheDailyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductionFromSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
                <td>
                    <authorize policy="EditPolicy">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </authorize> |
                    <authorize policy="DetailsPolicy">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </authorize> |
                    <authorize policy="DeletePolicy">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </authorize>
                </td>
        </tr>
}
    </tbody>
</table>
