

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="N.G.HRS">
    <meta name="author" content="MO_AL">
    <meta name="keywords" content="N.G.HRS">

    <title>N.G.HRS - @ViewData["Title"]</title>



    <!-- core:css -->
    <link rel="stylesheet" href="~/assets/vendors/core/core.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.core.css">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/assets/vendors/dropzone/dropzone.min.css">
    <link rel="stylesheet" href="~/assets/vendors/dropify/dist/dropify.min.css">
    <link rel="stylesheet" href="~/assets/vendors/pickr/themes/classic.min.css">
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendors/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/assets/vendors/easymde/easymde.min.css">

    <!-- ---------------------------------------- -->
    <link rel="stylesheet" href="~/assets/vendors/sweetalert2/sweetalert2.min.css">
    <!-- ---------------------------------------- -->
    <link rel="stylesheet" href="~/assets/vendors/prismjs/themes/prism.css">
    <!-- ---------------------------------------- -->
    <link rel="stylesheet" href="~/assets/vendors/jquery-steps/jquery.steps.css">
    <!-- ---------------------------------------- -->
    <link rel="stylesheet" href="~/assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css">
    <link href="~/assets/vendors/datatables-responsive-bs5/responsive.bootstrap5.css" rel="stylesheet" />
    <!-- ---------------------------------------- -->
    <!-- Gallery JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="~/assets/vendors/gallery/baguettebox.js"></script>
    <script src="~/assets/vendors/gallery/custom-gallery.js"></script>
    <link href="~/assets/vendors/gallery/gallery.css" rel="stylesheet" />
    <script src="~/assets/vendors/gallery/plugins.js"></script>

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo1/style-rtl.min.css">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="~/assets/images/favicon.jpg" />

    <link rel="stylesheet"
          href="~/assets/fonts/feather-font/fonts/Amiri-Regular.ttf" />
    <!-- End fonts -->

</head>

<body id="body">
    <div class="main-wrapper ">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar">
            <div style="background-color: #000 !important;" class="sidebar-header">
                <a href="#" class="sidebar-brand mmms">
                    <img class="logo-image" src="~/assets/images/Logo/Logo.png" alt="" />
                </a>
                <span style="clear: both"></span>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body ">
                <ul class="nav margin">
                    <li class="nav-item nav-category">الرئيسة</li>
                    <li id="Home" class="nav-item">
                        <a asp-action="Index" asp-controller="Home" asp-area="" class="menu nav-link link">
                            <i class="link-icon" data-feather="home"></i>
                            <span class="link-title">لوحة التحكم</span>
                        </a>
                    </li>
                    <li class="nav-item nav-category">التهيئة</li>

                    <li class="nav-item nav-category">
                        <a role="button" aria-expanded="false" href="#Initialization" class="menu menu-link dropdown-button">
                            <span class="link-title">تهيئة النظام</span>
                            <i class="dropdown-arrow" data-feather="chevron-down"></i>
                        </a>
                    </li>
                </ul>
                <div id="Initialization" class="submenu ">
                    <ul class="nav mb-5 ">
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#publicInitialization" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">التهيئة العامة</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="publicInitialization">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Countries" asp-action="Index">دليل الدول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Governorates" asp-action="Index">دليل المحافظات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Directorates" asp-action="Index">دليل المديريات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Nationalities" asp-action="Index">دليل الجنسيات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Sexes" asp-action="Index">دليل الجنس</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="FingerprintDevices" asp-action="Index">دليل بيانات اجهزة البصمة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="PublicHolidays" asp-action="Index">دليل الاجازات العامة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="OfficialVacations" asp-action="Index">دليل الاجازات الرسمية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Permissions" asp-action="Index">دليل الاذونات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="RelativesTypes" asp-action="Index">دليل الاقارب</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="FunctionalFiles" asp-action="Index">دليل الملفات الوظيفية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="EducationalQualifications" asp-action="Index">دليل المؤهلات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Specialties" asp-action="Index">دليل التخصصات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Universities" asp-action="Index">دليل الجامعات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Contracts" asp-action="Index">دليل انواع العقود</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="ContractTerms" asp-action="Index">دليل شروط العقود</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#OrganizationalChart" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة الهيكل التنظيمي </span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="OrganizationalChart">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="MembershipOfTheBoardOfDirectors" asp-action="Index">عضوية مجلس الادارة </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="BoardOfDirectors" asp-action="Index">مجلس الادارة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="Companies" asp-action="Index">بيانات الشركة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="Branches" asp-action="Index">بيانات الفروع</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="Sectors" asp-action="Index">بيانات القطاعات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="Departments" asp-action="Index">بيانات الادارات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="OrganizationalChart" asp-controller="Sections" asp-action="Index">بيانات الاقسام</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#PlanningAndJobDescription" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة التخطيط والتوصيف الوظيفي</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="PlanningAndJobDescription">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PlanningAndJobDescription" asp-controller="FunctionalCategories" asp-action="Index">الفئات الوظيفية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PlanningAndJobDescription" asp-controller="FunctionalClasses" asp-action="Index">الدرجة الوظيفية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PlanningAndJobDescription" asp-controller="JobRanks" asp-action="Index">الرتب الوظيفية</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PlanningAndJobDescription" asp-controller="JobDescriptions" asp-action="Index">الوصف الوظيفي</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#Employees" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة بيانات الموظفين</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="Employees">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Employees" asp-controller="Employees" asp-action="Index">بيانات الموظف</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#AttendanceAndDeparture" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة الحظور والانصراف</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="AttendanceAndDeparture">
                                <ul class="nav sub-menu">
                                    @* <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="PermissionToAttendAndLeaves" asp-action="Index">سماحية الحظور والانصراف</a>
                                    </li> *@
                                    @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="Months" asp-action="Index">بيانات الشهور</a>
                                    </li> *@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="PermananceAndPeriodsVM" asp-action="Index">نماذج الدوام</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="StaffTimes" asp-action="Index">دوام الموظفين</a>
                                    </li>
                                    @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="AdjustingTimes" asp-action="Index">ضبط الدوام</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="SetPeriods" asp-action="Index">ضبط الفترات</a>
                                    </li> *@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="LinkingEmployeesToShiftPeriods" asp-action="Index">فترات المناوبة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="OneFingerprints" asp-action="Index">البصمة الواحدة</a>
                                    </li>
                                    @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="Weekends" asp-action="Index">الاجازات الاسبوعية</a>
                                    </li> *@
                                    @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="WeekendsForFlexibleWorkings" asp-action="Index">الاجازات الاسبوعية للدوام المرن</a>
                                    </li> *@
                                    @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="Directorates" asp-action="Index">دليل اوقات الاستراحة</a>
                                    </li> *@
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AttendanceAndDeparture" asp-controller="OpeningBalancesForVacations" asp-action="Index">الارصدة الافتتاحية للاجازات</a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#SalariesAndWages" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة الاجور والرواتب</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="SalariesAndWages">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="BasicDataForTheSalaryStatements" asp-action="Index">البيانات الاساسية للاجور والمرتبات</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="BasicDataForWagesAndSalaries" asp-action="Index">البيانات الاساسية لكشف الراتب</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="AdditionalAccountInformations" asp-action="Index">بيانات حساب الاضافي</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="AllowancesAndDiscounts" asp-action="Index">البدلات والخصمات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="SectionsAccounts" asp-action="Index">حسابات الاقسام</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="SalariesAndWages" asp-controller="EmployeeAccounts" asp-action="Index">حسابات الموظفين</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#PenaltiesAndViolations" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">تهيئة العقوبات و المخالفات</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="PenaltiesAndViolations">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PenaltiesAndViolations" asp-controller="Violations" asp-action="Index">دليل المخالفات</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PenaltiesAndViolations" asp-controller="Penalties" asp-action="Index">دليل العقوبات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PenaltiesAndViolations" asp-controller="PenaltiesAndViolations" asp-action="Index">نماذج المخالفات والعقوبات</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                       
                        
                    </ul>
                </div>
                @* //======================= *@
                <ul class="nav margin">
                    <li class="nav-item nav-category" style="margin-top: 20px">العمليات</li>

                    <li class="nav-item ">
                        <a role="button" aria-expanded="false" href="#EmployeesAffsirs" class="menu menu-link dropdown-button">
                            <span class="link-title">شؤون الموظفين</span>
                            <i class="dropdown-arrow" data-feather="chevron-down"></i>
                        </a>
                    </li>
                </ul>
                <div id="EmployeesAffsirs" class="submenu ">
                    <ul class="nav mb-5 ">
                        <li class="nav-item ">
                            <a class="menu nav-link text-dark" id="Open2" asp-area="OrganizationalChart" asp-controller="MembershipOfTheBoardOfDirectors" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">عرض بيانات الموظفين </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#planning" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">التخطيط والتوصيف الوظيفي</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="planning">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="EmployeesAffsirs" asp-controller="AnnualGoals" asp-action="Index">الاهداف السنوية</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#employment" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> التوظيف </span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="employment">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">   COMING SOON </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#advantages" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> المزايا</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="advantages">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="PlanningAndJobDescription" asp-controller="FunctionalCategories" asp-action="Index">COMING SOON</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="menu nav-link" data-bs-toggle="collapse" href="#reports" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">التقارير التفصيلية</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="reports">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""> الموظف</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
                <ul class="nav ">
                    <li class="nav-item ">
                        <a role="button" aria-expanded="false" href="#administrativeAffairs" class="menu menu-link dropdown-button">
                            <span class="link-title">الشؤون الإدارية</span>
                            <i class="dropdown-arrow" data-feather="chevron-down"></i>
                        </a>
                    </li>
                </ul>
                <div id="administrativeAffairs" class="submenu ">
                    <ul class="nav mb-5 ">
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#Guestbook" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">سجل الزوار</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="Guestbook">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""> دليل بطائق الزوار</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""> دليل  الزوار</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">  رسائل التذكير </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">  تقرير الزوار</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                                        <a id="Open2" class="menu nav-link text-dark" asp-area="EmployeesAffsirs" asp-controller="Permits" asp-action="Index">
                                            <i class="link-icon" data-feather="more-vertical"></i>
                                            <span class="link-title"> التصاريح</span>
                                        </a>    
                        </li>
                        <li class="nav-item nav-category">

                            <a class="menu nav-link text-dark" id="Open2" asp-area="EmployeesAffsirs" asp-controller="AdministrativeDecisions" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">  القرارات الادارية </span>
                            </a>

                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#employmentMovement" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> حركة التوظيف</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="employmentMovement">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="EmployeesAffsirs" asp-controller="EmployeeMovements" asp-action="Index"> التنقل الوظيفي</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="EmployeesAffsirs" asp-controller="AdministrativePromotions" asp-action="Index"> الترفيعات الإدارية</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="EmployeesAffsirs" asp-controller="EmploymentStatusManagements   " asp-action="Index"> إدارة الحالة الوظيفية</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#violationsAndPenalties" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> المخالفات والجزاءات</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="violationsAndPenalties">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Countries" asp-action="Index">الاهداف السنوية</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#excellenceAndIncentives" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> التميز والحوافز</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="excellenceAndIncentives">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="GeneralConfiguration" asp-controller="Countries" asp-action="Index">الاهداف السنوية</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link text-dark"  asp-area="GeneralConfiguration" asp-controller="Countries" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">أرشفة ملفات الشركة</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="nav ">
                    <li class="nav-item ">
                        <a role="button" aria-expanded="false" href="#permanenceMonitoring" class="menu menu-link dropdown-button">
                            <span class="link-title">مراقبة الدوام</span>
                            <i class="dropdown-arrow" data-feather="chevron-down"></i>
                        </a>
                    </li>
                </ul>
                <div id="permanenceMonitoring" class="submenu ">
                    <ul class="nav mb-5 ">
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#SurveillanceFingerprints" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">بصمات المراقبة</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="SurveillanceFingerprints">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="UplodeFingerPrintFromDeviceVM" asp-action="Index">تحميل البصمات من اجهزة البصمة</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">استيراد البصمات من ملف نصي</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index"> تقرير بصمات أجهزة البصمة</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#Processes" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title"> العمليات</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="Processes">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="AttendanceRecord" asp-action="Index">حافظة دوام </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">معالجة حضور وغياب الموظفين </a>
                                    </li>\
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="StaffVacations" asp-action="Index">اجازات الموظفين </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="AdditionalExternalOfWork" asp-action="Index">تكليف عمل </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">ترحيل الإضافي الغير معتمد </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="EmployeePermissions" asp-action="Index">اذونات الموظفين </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">تعويض دوام الموظفين </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">مقاصة دوام الموظفين </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="MaintenanceControl" asp-controller="" asp-action="Index">نقل ارصدة الاجازات</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <a class="menu nav-link" id="Open2" data-bs-toggle="collapse" href="#FingerprintsReports" role="button" aria-expanded="false" aria-controls="emails">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">  التقارير</span>
                                <i class="link-arrow" data-feather="chevron-down"></i>
                            </a>
                            <div class="collapse" id="FingerprintsReports">
                                <ul class="nav sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Coming Soon</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="nav ">
                    <li class="nav-item ">
                        <a role="button" aria-expanded="false" href="#salariesAndWages" class="menu menu-link dropdown-button">
                            <span class="link-title"> الرواتب والاجور</span>
                            <i class="dropdown-arrow" data-feather="chevron-down"></i>
                        </a>
                    </li>
                </ul>
                <div id="salariesAndWages" class="submenu ">
                    <ul class="nav mb-5 ">
                        <li class="nav-item nav-category">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">الإضافي المعتمد تلقائيا </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">أجور الموظفين </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">بدلات وخصميات الموظفين </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">إستحقاقات وإستقطاعات </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">قروض الموظفين </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">سلف الموظفين </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">مخالصة نهاية الخدمة </span>
                            </a> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">بدلات الاجازات </span>
                            </a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="link-icon" data-feather="more-vertical"></i>
                                <span class="link-title">إكرامات الموظفين </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav style="background-color: #000 !important;" class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>
                <div class="navbar-content">
                    <form class="search-form">
                        <div class="input-group">
                            <div style="background-color: #000 !important;" class="input-group-text">
                                <i data-feather="search"></i>
                            </div>
                            <input style=" background-color: #000 !important;" type="text"
                                   class="form-control"
                                   id="navbarForm"
                                   placeholder="ابحث هنا ...." />
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="appsDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i data-feather="grid"></i>
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="appsDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p class="mb-0 fw-bold">Web Apps</p>
                                    <a href="javascript:;" class="text-muted">Edit</a>
                                </div>
                                <div class="row g-0 p-1">
                                    <div class="col-3 text-center">
                                        <a href="pages/apps/chat.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="message-square"
                                               class="icon-lg mb-1"></i>
                                            <p class="tx-12">Chat</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/apps/calendar.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="calendar" class="icon-lg mb-1"></i>
                                            <p class="tx-12">Calendar</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/email/inbox.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="mail" class="icon-lg mb-1"></i>
                                            <p class="tx-12">Email</p>
                                        </a>
                                    </div>
                                    <div class="col-3 text-center">
                                        <a href="pages/general/profile.html"
                                           class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70">
                                            <i data-feather="instagram" class="icon-lg mb-1"></i>
                                            <p class="tx-12">Profile</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">View all</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="messageDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i data-feather="mail"></i>
                            </a>
                            <div class="dropdown-menu p-0"
                                 aria-labelledby="messageDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p>9 New Messages</p>
                                    <a href="javascript:;" class="text-muted">Clear all</a>
                                </div>
                                <div class="p-1">
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face2.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>Leonardo Payne</p>
                                                <p class="tx-12 text-muted">Project status</p>
                                            </div>
                                            <p class="tx-12 text-muted">2 min ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face3.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>Carl Henson</p>
                                                <p class="tx-12 text-muted">Client meeting</p>
                                            </div>
                                            <p class="tx-12 text-muted">30 min ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face4.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>Jensen Combs</p>
                                                <p class="tx-12 text-muted">Project updates</p>
                                            </div>
                                            <p class="tx-12 text-muted">1 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face5.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>Amiah Burton</p>
                                                <p class="tx-12 text-muted">Project deatline</p>
                                            </div>
                                            <p class="tx-12 text-muted">2 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face6.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="me-4">
                                                <p>Yaretzi Mayo</p>
                                                <p class="tx-12 text-muted">New record</p>
                                            </div>
                                            <p class="tx-12 text-muted">5 hrs ago</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">View all</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="notificationDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i data-feather="bell"></i>
                                <div class="indicator">
                                    <div class="circle"></div>
                                </div>
                            </a>
                            <div class="dropdown-menu p-0"
                                 aria-labelledby="notificationDropdown">
                                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                                    <p>6 New Notifications</p>
                                    <a href="javascript:;" class="text-muted">Clear all</a>
                                </div>
                                <div class="p-1">
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="gift"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>New Order Recieved</p>
                                            <p class="tx-12 text-muted">30 min ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white"
                                               data-feather="alert-circle"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>Server Limit Reached!</p>
                                            <p class="tx-12 text-muted">1 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <img class="wd-30 ht-30 rounded-circle"
                                                 src="~/assets/images/faces/face6.jpg"
                                                 alt="userr" />
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>New customer registered</p>
                                            <p class="tx-12 text-muted">2 sec ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white" data-feather="layers"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>Apps are ready for update</p>
                                            <p class="tx-12 text-muted">5 hrs ago</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;"
                                       class="dropdown-item d-flex align-items-center py-2">
                                        <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                                            <i class="icon-sm text-white"
                                               data-feather="download"></i>
                                        </div>
                                        <div class="flex-grow-1 me-2">
                                            <p>Download completed</p>
                                            <p class="tx-12 text-muted">6 hrs ago</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="px-3 py-2 d-flex align-items-center justify-content-center border-top">
                                    <a href="javascript:;">View all</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="profileDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <img class="wd-30 ht-30 rounded-circle"
                                     src="~/assets/images/faces/face1.jpg"
                                     alt="profile" />
                            </a>
                            <div class="dropdown-menu p-0"
                                 aria-labelledby="profileDropdown">
                                <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
                                    <div class="mb-3">
                                        <img class="wd-80 ht-80 rounded-circle"
                                             src="~/assets/images/faces/face1.jpg"
                                             alt="" />
                                    </div>
                                    <div class="text-center">
                                        <p class="tx-16 fw-bolder">Amiah Burton</p>
                                        <p class="tx-12 text-muted">amiahburton@gmail.com</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled p-1">
                                    <li class="dropdown-item py-2">
                                        <a href="pages/general/profile.html"
                                           class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="user"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="edit"></i>
                                            <span>Edit Profile</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="repeat"></i>
                                            <span>Switch User</span>
                                        </a>
                                    </li>
                                    <li class="dropdown-item py-2">
                                        <a href="javascript:;" class="text-body ms-0">
                                            <i class="me-2 icon-md" data-feather="log-out"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->

            <div class="page-content">
                @RenderBody()

            </div>

            <!-- partial:../../partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
                <p class="text-muted mb-1 mb-md-0"><a href="">فريق حسب الله</a>. Copyright © 2022 </p>
                <p class="text-muted">Handcrafted With <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
            </footer>
            <!-- partial -->
        </div>
    </div>

    <!-- core:js -->
    <script src="~/assets/vendors/core/core.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/ValidationWithJS.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/vendors/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/assets/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="~/assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/assets/vendors/dropify/dist/dropify.min.js"></script>
    <script src="~/assets/vendors/pickr/pickr.min.js"></script>
    <script src="~/assets/vendors/moment/moment.min.js"></script>
    <script src="~/assets/vendors/flatpickr/flatpickr.min.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendors/chartjs/Chart.min.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/vendors/sweetalert2/sweetalert2.min.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/vendors/prismjs/prism.js"></script>
    <script src="~/assets/vendors/clipboard/clipboard.min.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/vendors/jquery-steps/jquery.steps.min.js"></script>
    <!-- -------------------------------------------------- -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/assets/vendors/datatables.net-bs5/dataTables.bootstrap5.js"></script>
    <!-- End plugin js for this page -->
    <!-- -------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/template.js"></script>
    <!-- -------------------------------------------------- -->
    @* <script src="~/assets/js/jquery-3.6.1.min.js"></script> *@
    <script src="~/assets/js/jquery.flot-light.js"></script>
    <script src="~/assets/js/Chart.min.js"></script>
    <script src="~/assets/js/chartjs-light.js"></script>
    <script src="~/assets/js/chat.js"></script>
    <!-- -------------------------------------------------- -->
    <!-- endinject -->
    <script src="~/assets/js/tinymce.js"></script>
    <script src="~/assets/js/easymde.js"></script>
    <script src="~/assets/js/ace.js"></script>
    <!-- Custom js for this page -->
    <script src="~/assets/js/bootstrap-maxlength.js"></script>
    <script src="~/assets/js/inputmask.js"></script>
    <script src="~/assets/js/select2.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/tags-input.js"></script>
    <script src="~/assets/js/dropzone.js"></script>
    <script src="~/assets/js/dropify.js"></script>
    <script src="~/assets/js/pickr.js"></script>
    <script src="~/assets/js/flatpickr2.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/js/dashboard-light.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/js/sweet-alert.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/js/wizard.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="~/assets/js/data-table.js"></script>
    <script src="~/assets/vendors/datatables-responsive/datatables.responsive.js"></script>
    <script src="~/assets/vendors/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <!-- -------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- End custom js for this page -->
    <!-- -------------------------------------------------- -->
    @await RenderSectionAsync("Scripts", required: false)



    <!-- Start ------------------------اضافي--------------------------->
    <!-- script -->
    <script>
        //=================================================

        $(document).ready(function () {
            document.querySelectorAll('.menu-link').forEach(link => {
                link.addEventListener('click', (event) => {
                    // Prevent the default action of the link
                    event.preventDefault();

                    // Get the current state of aria-expanded
                    const ariaExpanded = link.getAttribute('aria-expanded') === 'true';

                    // Close all submenus
                    document.querySelectorAll('.menu-link').forEach(l => {
                        l.setAttribute('aria-expanded', 'false');
                        const subMenu = document.querySelector(l.getAttribute('href'));
                        if (subMenu && subMenu.classList.contains('submenu')) {
                            subMenu.classList.remove('show1');
                            subMenu.classList.add('hidden');
                        }
                    });

                    // If the clicked link was not expanded, expand it
                    if (!ariaExpanded) {
                        link.setAttribute('aria-expanded', 'true');
                        const subMenu = document.querySelector(link.getAttribute('href'));
                        if (subMenu && subMenu.classList.contains('submenu')) {
                            subMenu.classList.remove('hidden');
                            subMenu.classList.add('show1');
                        }
                    }
                });
            });

        });

        //=================================================
        if ($('.datatable').length > 0) {
            $('.datatable').DataTable({
                dom: "<'row mb-3'<'col-sm-4'l><'col-sm-8 text-end'<'d-flex justify-content-end'fB>>>t<'d-flex align-items-center'<'me-auto'i><'mb-0'p>>",

                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                buttons: [
                    //{ extend: 'print',text: '<i class="bx bx-printer me-2" ></i>Print', className: 'btn btn-default' },
                    //{ extend: 'csv', text: '<i class="bx bx-file me-2" ></i>Csv', className: 'btn btn-default' }

                ],
                language: {
                    search: '<i style="color:#7987a1;" data-feather="search"></i>',
                    searchPlaceholder: "بحث"
                }



            });
            var newcs = $('.datatable').DataTable();

            new $.fn.dataTable.Responsive(newcs);

            $('#show-hide-res').DataTable({
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }
            });
        }



    </script>
    @if (ViewData["Active"] != null)
    {
        <script type="text/javascript">

            document.getElementById("@ViewData["Active"]").classList.add("active");

        </script>
    }

    @if (ViewData["Open"] != null)
    {
        <script type="text/javascript">

            document.getElementById("@ViewData["Open"]").classList.add("open");
            document.getElementById("@ViewData["Open"]").classList.add("active");

        </script>
    }
    @*=============================================================================================*@

    @if (ViewData["OpenOperation"] != null)
    {
        <script type="text/javascript">

            document.getElementById("@ViewData["OpenOperation"]").classList.add("open");
            document.getElementById("@ViewData["OpenOperation"]").classList.add("active");

        </script>
    }
    @*=============================================================================================*@
    @if (ViewData["OpenSubOperation"] != null)
    {
        <script type="text/javascript">

            document.getElementById("@ViewData["OpenSubOperation"]").classList.add("open");
            document.getElementById("@ViewData["OpenSubOperation"]").classList.add("active");

        </script>
    }



    @*=============================================================================================*@
    @*
    <script type="text/javascript">
    $('.menu-inner li > a').click(function (e) {

    /*e.preventDefault();*/ // added this line to prevent default click behaviour

    // find/remove all active classes from each a
    $('.menu-inner li > a').removeClass('active');

    // add active selected a
    $(this).addClass('active');
    });

    //=============================================================================================
    $('.menu-inner li').click(function (e) {
    // find/remove all active classes from each a
    $('.menu-inner > a').removeClass('active');

    // add active selected a
    $(this).addClass('').siblings().removeClass("");
    //e.preventDefault();
    });
    </Script> *@
    <!-- End ------------------------اضافي--------------------------->

</body>
</html>

