@model N.G.HRS.Areas.RegisterAndLogin.Models.Account

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "حسابات الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowMaleImages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowMaleImages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowFemaleImages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowFemaleImages)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
