@model N.G.HRS.Areas.MaintenanceControl.Models.AdditionalExternalOfWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdditionalExternalOfWork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubstituteEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubstituteEmployee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
