@model IEnumerable<N.G.HRS.Areas.MaintenanceControl.Models.AdditionalExternalOfWork>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "تكليف خارجي / إضافي";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="space-between">
                    <h3> تكليف عمل إضافي / خارجي</h3>

                    <authorize policy="AddPolicy">
                        <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
                    </authorize>
                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubstituteEmployee)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ToDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FromTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ToTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hours)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Minutes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mission)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TaskDestination)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                    </td>
                                    <td>
                                        @if (item.SubstituteEmployee != null)
                                        {

                                            @Html.DisplayFor(modelItem => item.SubstituteEmployee.EmployeeName)
                                                            
                                        }
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hours)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Minutes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mission )
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaskDestination)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td>
                                        <authorize policy="EditPolicy">
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </authorize> |
                                        <authorize policy="DetailsPolicy">
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </authorize> |
                                        <authorize policy="DeletePolicy">
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </authorize>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>