@model N.G.HRS.Areas.OrganizationalChart.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfBusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfBusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponyLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponyLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardOfDirectors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardOfDirectors.CouncilName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
