@model N.G.HRS.Areas.AttendanceAndDeparture.ViewModels.PermanenceModelsAndPeriodsVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "IndexEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";

}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             #
            </th>
            <th>
                أسم الدوام
            </th>
            <th>
                أسم الفترة
            </th>
            <th>
                من ةقت
            </th>
            <th>
                الى وقت
            </th>
            <th>
                السبت
            </th>
            <th>
                الاحد
            </th>
            <th>

                الاثنين
            </th>
            <th>
                الثلاثاء
            </th>
            <th>
                الاربعاء
            </th>
            <th>
                الخميس
            </th>
            <th>
                الجمعة
            </th>
            <th>
                الساعات
            </th>
            <th>
                الدقائق
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.periodsList)
        {
            <tr>
                <td>
                    #
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermanenceModels.PermanenceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromTime.HasValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToTime.HasValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saturday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SunDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tuesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wednesday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thursday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Friday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Muinutes)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item .Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item .Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item .Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
