@model IEnumerable<N.G.HRS.Areas.EmployeesAffsirs.Models.AdministrativePromotions>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.SubAdministration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" id="Delete" class="btn-danger" asp-route-id="@item.Id">Delete</a> |


            </td>
        </tr>
            @* <div id="openForm" style="display: block">
                <div id="form" class="row rowmargin">
                    <div class="modal">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Employee)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayNameFor(model => model.Employee.EmployeeName)
                                    </dd><h3>?</h3>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" method="post" id="deleteForm">
                                        <input type="hidden" asp-for="@item.Id" />
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
}

    </tbody>
</table>
@* @await Html.PartialAsync("_Delete")
 *@
@section Scripts {
@*     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            closeFormButton.addEventListener("click", function () {
                open.style = `display:none;`;
            });
            $('#Delete').click(function () {
                $('#form').style = `
                                                                                                                    display:block;

                                                                                                                    position: fixed;
                                                                                                                        top: 0;
                                                                                                                        left: 0;
                                                                                                                        width: 100%;
                                                                                                                        height: 100%;
                                                                                                                        background-color: rgba(0, 0, 0, 0.5);
                                                                                                                        backdrop-filter: blur(5px);
                                                                                                                        z-index: 1051;`;

                form.style = `
                                                                                                                    width:90%;
                                                                                                                    display:block;
                                                                                                                    position: fixed;
                                                                                                                        top: 50%;
                                                                                                                        left: 50%;
                                                                                                                        transform: translate(-50%, -50%);
                                                                                                                        background-color: #fff;
                                                                                                                        padding: 20px;
                                                                                                                        border: 1px solid #ccc;
                                                                                                                        border-radius: 5px;
                                                                                                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                                                                                                                                z-index: 1050;
                                                                                                                        opacity: 1; /* Initially hidden */
                                                                                                                        transition: opacity 0.3s ease-in-out;`;
            });
        });
    </script>
 *@
}