@model N.G.HRS.Areas.ViolationsAndPenaltiesAffairs.Models.EmployeeViolations

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "مخالفة الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Details</h1>

<div>
    <h4>EmployeeViolations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptOfNotifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptOfNotifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exempt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exempt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penalties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penalties.PenaltiesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPenalties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPenalties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
