@model IEnumerable<N.G.HRS.Areas.ViolationsAndPenaltiesAffairs.Models.EmployeeViolations>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "مخالفة الموظفين";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}


<h1>Index</h1>

<authorize policy="AddPolicy">
    <a asp-action="Create" class="btn btn-primary col-md-1 col-12" style="min-width: 80px; white-space: nowrap; text-align: center;">جديد</a>
</authorize>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViolationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptOfNotifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Violations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPenalties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptOfNotifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exempt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Violations.ViolationsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Penalties.PenaltiesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPenalties)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discounts)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
                <td>
                    <authorize policy="EditPolicy">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </authorize> |
                    <authorize policy="DetailsPolicy">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </authorize> |
                    <authorize policy="DeletePolicy">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </authorize>
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
