@model N.G.HRS.Areas.PenaltiesAndViolations.Models.PenaltiesAndViolationsForms

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = " المخالفات والعقوبات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PenaltiesAndViolationsForms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Violations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Violations.ViolationsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penalties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penalties.PenaltiesName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
