@model IEnumerable<N.G.HRS.Areas.AalariesAndWages.Models.BasicDataForTheSalaryStatement>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "نماذج الدوام";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "AddEmployee";
    ViewData["Open"] = "Open2";
    ViewData["OpenOperation"] = "OpenOperation2";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HealthInsuranceIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetirementInsuranceIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludesTheWorkShareInRetirementInsurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludesTaxCalculation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowancesIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludesAdditionalData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageOnEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageOnCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HealthInsuranceIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementInsuranceIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesTheWorkShareInRetirementInsurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesTaxCalculation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowancesIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludesAdditionalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageOnEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageOnCompany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
