@model N.G.HRS.Areas.OrganizationalChart.Models.Sectors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sectors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branches.BranchesAdress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
