@model IEnumerable<N.G.HRS.Areas.AttendanceAndDeparture.Models.PermanenceModels>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PermanenceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlexibleWorkingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkBetweenTwoShifts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursOfWorks)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.AddAttendanceAndDeparturePermission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceForLateAttendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarlyDeparturePermission)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PermanenceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td style="color:red">
                @Html.DisplayFor(modelItem => item.FlexibleWorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkBetweenTwoShifts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursOfWorks)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.AddAttendanceAndDeparturePermission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceForLateAttendance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyDeparturePermission)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
