@model N.G.HRS.Areas.OrganizationalChart.Models.BoardOfDirectors
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جديد";
    Layout = "_Layout";

}

<h1>Details</h1>

<div>
    <h4>BoardOfDirectors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouncilName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouncilName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfMembership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfMembership)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipOfTheBoardOfDirectors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipOfTheBoardOfDirectors.TypeOFMembership)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
